[2012-07-02 11:27] Robdr opened #3 "Add ability to remove and add specific pages."
It would be great it would be supported that individual pages can be removed or added.

[2013-07-06 21:03] nym opened #5 "Large Sitemaps?"
Does this module support multiple sitemaps for particularly large sites?

E.g. chunking based on the sitemap max size?

[2013-10-22 09:21] #5 closed, assigned to nobody

[2014-03-19 17:21] #3 closed, assigned to nobody

[2014-06-13 06:49] Janpot opened #10 "Caching blocks eventloop from exiting gracefully"
First of all, nice module! I stumbled upon one little problem though,

Enabling cache on this module starts an interval timer. This makes my program unable to exit. This is not a problem in production since it shouldn't exit there but it blocks my unit tests from finishing gracefully.

https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap.js#L150-L152

The current mechanism is also wrong

[2014-07-24 22:48] ralyodio opened #12 "generate static sitemap.xml from db?"
I want to run a cronjob everynight that builds all my urls and writes out to ./public/sitemap.xml

Is this possible?

[2014-07-26 06:00] #12 closed, assigned to nobody

[2014-07-26 06:04] chovy opened #13 "add support for images"
Sitemap protocol supports image tags. Do you have any plans to add it to your module?

https://support.google.com/webmasters/answer/178636

[2014-07-26 06:05] ralyodio opened #14 "urlset is required according to Google"
`<urlset>   Required    Encloses all information about the set of URLs included in the Sitemap.`

https://support.google.com/webmasters/answer/183668

[2014-07-26 06:07] #14 closed, assigned to nobody

[2014-08-20 22:31] #10 closed, assigned to nobody

[2014-09-27 10:54] palakbhansali opened #16 "lastmod field returns Nan-Nan-Nan"
{ url: '', lastmod: moment().toISOString(), changefreq: 'daily', priority: 0.3 },
    { url: '/culture', lastmod: moment().toISOString(), changefreq: 'monthly', priority: 0.9 },
    { url: '/culture/putting-dent-into-the-universe', lastmod: moment().toISOString(), changefreq: 'monthly', priority: 0.89 },
    { url: '/culture/workmanship-is-the-key', lastmod: moment().toISOString(), changefreq: 'mo

[2014-10-01 10:10] nfleury opened #17 "'changefreq' and 'priority' should be optional"
According to http://www.sitemaps.org/protocol.html#xmlTagDefinitions:

These tags are optional:

- changefreq
- priority

Actually, it seems to be impossible to get rid of them in the generated xml ...

Even if can understand the '0.5' default value for the priority, I think there is no point for adding it: it will increase the page weight for nothing

I could not find that default value for chang

[2014-10-20 10:26] elebescond opened #18 "chunk sitemap failed with large number of urls"
From 1 300 000 urls I get a segmentation fault ...

It failed on utils.chunckArray() function.

I rewrite this function with underscore module with success but it add a new dependency...

[2014-10-20 15:08] #18 closed, assigned to nobody

[2014-11-27 03:35] jpca999 opened #20 "any example of sitemap where it retrieves data from mongodb and then builds the sitemap maybe using express4 ?"

[2015-01-16 01:25] morenoh149 opened #21 "Generate sitemap from app or router"
Nice module!
I was wondering if there was a way to pass in an express object, or express router object to sitemap.js and have it spit out the sitemap.xml file.

[2015-01-16 04:21] chovy commented on #21
while this isn't my module, what I do is generate the sitemap.xml daily via cronjob and just write it out to a static directory.

[2015-01-16 07:54] ekalinin commented on #21
@chovy :+1:
@morenoh149 Do you want to have an ability to generate all available endpoints by getting express router object? And then put them into sitemap.js?

[2015-01-16 22:38] morenoh149 commented on #21
@ekalinin pretty much. I looked at bit at the express objects but couldn't find an obvious way to get this data out of it

[2015-02-07 01:03] loganknecht commented on #21
Just wondering, is this something that you are intending to resolve? It is a requirement that I would like to request as well.

Even more so, what would be cool is if there was an option so that each router is spit out into its own sub-xml file. Then these are children of some root xml file, so that way it can scale with crazy large sites.

[2015-02-17 23:00] morenoh149 commented on #21
A solution @berkeleyTrue came up with was this
[code]
Serves us well.

[2015-02-18 05:05] chovy commented on #21
This depends on the size of your db and how long that query would take. I
personally think its better to generate the sitemap.xml statically from a
cronjob at 2am rather than whenever it is requested.

On Tue, Feb 17, 2015 at 3:00 PM, Harry Moreno <notifications@github.com>
wrote:

--
Anthony Ettinger
http://about.me/anthony.ettinger

[2015-02-18 05:13] morenoh149 commented on #21
Indeed this would not be good for a high traffic site.

[2015-03-17 12:31] ekalinin commented on #13
Added in 0.8

[2015-03-17 12:31] #13 closed

[2015-03-17 19:12] JonnyBGod opened #23 "Missing underscore in package.json dependencies"
module.js:338
    throw err;
    ^
Error: Cannot find module 'underscore'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (/Users/joaoribeiro/Documents/Projects/cloudtasks.io/node_modules/sitemap/lib/utils.js:7:9)
    at Module._compile (mo

[2015-03-17 19:25] ekalinin commented on #23
Hi @JonnyBGod Thanks for report.
Yep, seems forgot to add that dependence into bower.json.

[2015-03-17 19:30] #23 closed

[2015-03-17 19:32] JonnyBGod commented on #23
Not just that. You also have to change the package.json as you have the underscore dependency in "devDependencies" while this should be in "dependencies".

This make it work when you do `node install --production`

[2015-04-13 12:51] #20 closed

[2015-04-27 02:43] Alex0007 opened #27 "wrong urls added to sitemap"
[code]

And the output is:
[code]

Expected output:
[code]

[2015-04-27 10:37] ekalinin commented on #27
Hi @Alex0007,
Thanks for report.

Will check a bit later.

[2015-05-07 16:15] pquerna opened #28 "Sitemap can't be used with browserify"
If sitemap.js is pulled into a [browserify](https://github.com/substack/node-browserify) build, the javascript has frontend errors, because the use of fs.readFileSync to get the version number is done in a way that [brfs](https://github.com/substack/brfs) can't understand:

[code]

If this was changed to be something like:

[code]

It should work with brfs

[2015-05-07 16:16] pquerna commented on #28
(yes, I admit that sitemap.js being pulled into a browserify build probably means something else has gone wrong)

[2015-06-04 09:45] Gionni opened #31 "2 hostnames"
Is there any chance to specify http and https toghether?

Thanks, G.

[2015-06-04 10:02] Gionni commented on #31
Better don't mix protocols in sitemap. So say doc.

[2015-06-04 10:02] #31 closed

[2015-06-05 18:57] denisbetsi opened #32 "This currently only allows 1 image / Loc . Passing img : ["
If I add img : ['img1','img2'] it simply converts this back to img: img1,img2

Which limits # of images you can put per page down to 1. Should allow multiple

[2015-06-05 19:50] denisbetsi commented on #27
Added a fix in a pull request along with additional  feature

[2015-06-08 09:51] ekalinin commented on #32
Fixed in #33

[2015-06-08 09:51] #32 closed

[2015-06-08 09:51] ekalinin commented on #27
Fixed in #33

[2015-06-08 09:51] #27 closed

[2015-06-09 09:36] molinto commented on #12
I'm doing this too for articles.
Is there a way to clear all values from the sitemap & start again as articles can be removed/status updated etc.

Thanks

[2015-06-09 09:46] ekalinin commented on #12
If you're about clear cache, then there's a method ``Sitemap.clearCache``.
If you're about url list, you can clear it by yourself lke this: ``Sitemap.url = []``

[2015-06-09 09:48] molinto commented on #12
Sorry, removed comment as was stupidly using 'fs.writeFileSync; instead of 'fs.writeFile'.

Thank for replying & for your great module :)
Sharry

[2015-06-09 09:49] ekalinin commented on #12
No problem :)

[2015-06-10 10:39] irvingswiftj opened #34 "SitemapIndex can only be used if you want to write it as a file"
Surely `createSitemapIndex()` should work like `createSitemap()`? Instead I find that I'm having to write a file and then read it! Thus I'm not using this module to generate my sitemap index any more.

If I get a chance, would you mind if I did a PR to implement functionality so that I can use `createSitemapIndex(conf).toString()` ?

[2015-06-16 21:19] Alex0007 commented on #27
PR didn't fix this problem

[2015-06-17 16:40] denisbetsi commented on #27
I've tested that locally it worked. Would you share your code?

[2015-06-17 19:57] Alex0007 commented on #27
Code from the top-post
![](http://i.imgur.com/v5n4pyM.png)

[2015-06-18 06:11] ekalinin commented on #27
Hey @Alex0007

Seems, you used an old version of the package where all nearest changes weren't included.
I've just released 0.9.0, and added test for your testcase. Seems all works.
Check it out, please.

[2015-06-19 11:13] Alex0007 commented on #27
It works! Thanks!

[2015-08-06 01:55] yagobski opened #37 "How to indicate alternate language pages?"
How i can do this :
https://support.google.com/webmasters/answer/2620865?hl=en

[2015-08-06 06:31] ekalinin commented on #37
Here's example from [tests](https://github.com/ekalinin/sitemap.js/blob/master/tests/sitemap.test.js#L506):
[code]

[2015-08-06 06:41] ekalinin commented on #37
But, yeah, will add this snippet into README.

[2015-08-06 09:21] yagobski commented on #37
Hi thanks for your explain but when we install the module using npm the version 0.9.0 don't have links capability.

Try to install the module using npm install sitemap

[2015-08-06 09:35] ekalinin commented on #37
Just released ``1.0.0`` version.
Try it, please.

[2015-08-06 09:50] yagobski commented on #37
I update it but it is not working anymore even without links. It generate not xml sitemap.
You have passed the test?

[2015-08-06 10:15] ekalinin commented on #37
Would you be able to provide an example?

Yep:

[code]

[2015-08-06 10:17] yagobski commented on #37
**********
This is my object structure :
[ { url: 'song/bari-niich',
changefreq: 'weekly',
priority: 0.6,
links:
[ { lang: 'fr', url: 'song/bari-niich' },
{ lang: 'en', url: 'song/en/bari-niich' },
{ lang: 'ar', url: 'song/ar/باغي-نعيش-1' } ] } ]
*********

[2015-08-06 10:22] yagobski commented on #37
This is my code :
[code]

I get output like this (non xml) :

[code]

[2015-08-06 10:39] ekalinin commented on #37
Here's my try:

[code]

[2015-08-06 10:48] yagobski commented on #37
Ok thanks i will try to fix my code :) sorry about that

[2015-08-06 10:55] yagobski commented on #37
It works for me now. It was the sitemap.toXML

Thanks again

[2015-08-06 10:55] #37 closed

[2015-09-05 10:37] ismay opened #39 "Doesn't normalize urls"
So:

`hostname: 'http://website.com'` with `url: 'page.html'` => `http://website.compage.html`
`hostname: 'http://website.com/'` with `url: '/page.html'` => `http://website.com//page.html`

I'd expect this module to remove and add slashes where necessary.

[2015-09-05 11:02] ismay commented on #39
If you use a package like https://www.npmjs.com/package/url-join to join the different parts [here](https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap.js#L317) this problem would be solved.

[2015-09-06 00:53] kemskems opened #40 "Async-style API ignores error thrown by `.toString()`"
In `lib/sitemap.xml` you have this:
[code]
However, `Sitemap.prototype.toString()` may throw error, since it will call `new SitemapItem()` and that may throw error too (when there is no URL, no protocol, etc). The async-style API never pass the error to the callback so the error becomes an uncaught exception, which will kill Node process. How about changing `.toXML()` to:
[code]
I know this will b

[2015-09-07 10:52] ekalinin commented on #40
Hi @kemskems

Yeah, looks good for me. Please, create a PR for it.

[2015-09-07 10:55] ekalinin commented on #39
Hi @ismay

Thanks for report.

[2015-09-07 11:29] #39 closed

[2015-09-07 15:30] ismay commented on #39
:+1:

[2015-09-09 13:12] kemskems commented on #40
Hi @ekalinin. I have made a PR for this (#41). Please take a look.

[2015-09-18 14:28] R3VoLuT1OneR opened #42 "Mobile sitemaps"
Hey,

I don't see mobile support in this module.
Described here: http://www.google.com/schemas/sitemap-mobile/1.0/

I can create pull requests with this feature, but when It is can be expected to be merged to master?

[2015-09-18 14:56] ekalinin commented on #42
Hi, @R3VoLuT1OneR

Yeah, PRs are welcome.

[2015-09-19 02:30] AnimaMundi opened #43 "Sitemap Styling"
An option to add a style sheet would be greatly appreciated!

[2015-09-19 18:30] ekalinin commented on #40
Thanks!

[2015-09-19 18:30] #40 closed

[2015-09-19 18:39] ekalinin commented on #43
It's already there.
Added in #38.
See the option `xslUrl` in the constructior.

[2015-09-19 18:44] #43 closed

[2015-09-21 13:38] #42 closed

[2015-09-22 18:35] AnimaMundi commented on #43
Apologies on not reading the source code...
I guess the point of using a module like this is that I don't have to spend time doing stuff like that,
but thanks for adding the example to the documentation. This module has come in dead handy!

[2015-09-22 18:43] ekalinin commented on #43
No problem :)

You're welcome!

[2015-09-28 18:14] papaiatis opened #45 "No appropriate support for urls with hashbang #!"
I have an AngularJs powered website which uses hashbang (#!) in the URLs.
I tried setting my hostname and map url to every possible way but couldn't make the hashbang url work.

For example my url is: "www.example.com/#!/home". No matter what I configure I always get "www.example.com#!/home". Note the missing slash after dot com.

It might be a bug in the "url-join" component. Please investigate.

[2015-09-29 19:08] papaiatis opened #46 "Add support for image:caption"
Please add support for `<image:caption>` as it is seen here: https://support.google.com/webmasters/answer/183668

Thank you!!

[2015-09-30 14:41] R3VoLuT1OneR commented on #45
I got same bug and yes it is "url-join" bug/feature "www.example.com/#!/home" it is not so correct url.

But to fix it on your side, I can suggest you not pass "hostname" in params and provide full urls, with domain name.

Example:
[code]

[2015-09-30 14:46] ekalinin commented on #45
Yeah, thanks @R3VoLuT1OneR

[2015-09-30 15:27] R3VoLuT1OneR commented on #34
`createSitemapIndex(conf).toString()` will brake backward compatibility, because I use it for writing files and others use this as well.

I can suggest to move `Sitemap` and `SitemapIndex` classes to different files, so usage of them will be something like `require('sitemap/item')` and `require('sitemap/index')`. So then we can refactor `createSitemapIndex` to something like:

[code]

[2015-10-27 03:14] fghhfg opened #49 "generate sitemap.xml from local files?"
Is it possible to generate sitemap.xml from local files in a directory? How?

or I need a local server?

[2015-10-28 10:19] ekalinin commented on #49
Hi @fghhfg
if you already have sitemap in the file then you don't need `sitemap.js` :)
Something like this:

[code]

[2015-10-28 11:34] #49 closed

[2015-11-19 19:43] seanmthompson commented on #37
I know this is closed but I'm experience the same bug. When I add locale links, the XML returned seems formatted incorrectly. See attached images. One without "links" added, one with them. Notice Chrome does not render one them. I've followed the example exactly so not sure what I'm doing wrong here.
![screen shot 2015-11-19 at 11 41 16 am](https://cloud.githubusercontent.com/assets/5447621/112821

[2015-11-19 20:54] lenovouser commented on #37
I have the same problem like @seanmthompson's

[2015-11-20 08:12] redhat-raptor opened #50 "Priority 0 gets removed from the sitemap"
Priority 0 gets removed from sitemap. Should it not show: <code>&lt;priority&gt;0.0&lt;/priority&gt;</code> instead?

Also setting priority to 1 shows as 1 in sitemap XML. Would that be wise to always print 1 decimal point in the XML e.g. 1 becomes <code>&lt;priority&gt;1.0&lt;/priority&gt;</code> always!

[2015-11-20 09:53] ekalinin commented on #37
Hi @seanmthompson and @lenovouser,

Thanks for report.
What versions of the `node` and `sitemap.js` did you use?

Here's my try:

Init:
[code]

Test:
[code]

[2015-11-20 11:42] #50 closed

[2015-11-20 11:42] ekalinin commented on #50
Fixed by #51

[2015-12-07 15:54] niftylettuce commented on #34
This feature isn't even documented...  Please document it.

[2015-12-08 09:50] dorshay6 opened #53 "Error while deploying to GCLOUD"
I get the Error

ERROR: (gcloud.preview.app.deploy) Error Response: [400] Invalid character in filename: node_modules/sitemap/env/lib/python2.7/site-packages/setuptools/script (dev).tmpl

[2015-12-08 11:59] ekalinin commented on #53
Hi @dorshay6

Hm, seems like this file (`env/lib/python2.7/site-packages/setuptools/script (dev).tmpl`) is not from this project :)

[2015-12-08 11:59] #53 closed

[2015-12-14 16:22] jfromaniello opened #54 "please remove the env package from the version published to npm"
The version published to npm contains an env folder inside which is huge and doesn't look like is used anywhere in the code. It contains the sources of nodejs `/node-v5.1.0-linux-x64`.

[2015-12-14 16:33] #54 closed

[2015-12-15 10:08] ekalinin commented on #54
https://github.com/ekalinin/sitemap.js/releases/tag/1.5.0

[2015-12-16 14:45] bobiblazeski commented on #17
Any update on this ?

[2015-12-16 14:51] ekalinin commented on #17
PRs are welcomed!

[2015-12-22 07:11] babbelnedd opened #55 "What is the point of cache?"
Sure, when adding pages while the app is running. Makes totally sense.

But how do I replace urls, since they are passed as array at creation time.

[2015-12-22 10:20] ekalinin commented on #55
Hi @babbelnedd

To store the result xml of the sitemap.
And do not repeat all that logic for formatting the sesult xml for each request.

Like this (full example see in the `README`):

[code]

[2015-12-22 10:20] #55 closed

[2016-01-13 15:32] kamoljan opened #56 "Enable Deep Links in sitemap"
Hi @ekalinin

do you provide an additional parameter for [deep linking](http://developer.android.com/training/app-indexing/enabling-app-indexing.html#sitemap)?

example:

     <xhtml:link rel="alternate" href="android-app://com.example.android/example/gizmos" />

[2016-01-14 08:33] ekalinin commented on #56
Hi @kamoljan

Nope :(
There's only support for the [alternate language pages](https://github.com/ekalinin/sitemap.js/blob/43e4a5a2493f7498d7082fa0fb6eb32c08ea1f7e/README.md#example-of-indicating-alternate-language-pages).

[2016-01-14 15:15] kamoljan commented on #56
Hi @ekalinin that's good enough! :+1:  :bow:

[2016-01-14 15:22] kamoljan commented on #56
Sorry @ekalinin `alternate language pages` is not enough.
But very close.
Let's make it? :) :+1:

[2016-01-14 15:24] ekalinin commented on #56
Let's try :)

[2016-01-15 06:32] dushmantha commented on #56
+1

[2016-02-10 19:57] felixsanz opened #58 "How to test the package?"
When i install it, i see no "tests" folder, you forgot to add it into npm? or it's my fault that i'm missing some extra command?

Thanks!

[2016-02-11 08:11] ekalinin commented on #58
Hey @felixsanz

Here's my way:

[code]

[2016-02-11 08:15] ekalinin commented on #58
Added this info into README:
  * https://github.com/ekalinin/sitemap.js#testing

[2016-02-11 08:15] #58 closed

[2016-02-11 22:32] felixsanz opened #59 "Can't test the package"
According to readme...

[code]

Please don't close the issue this time. Thanks!

[2016-02-12 08:34] ekalinin commented on #59
1. Would you be able to show the full list of commands you did? (with git clone)
2. What OS do you use?
3. You can re-open old issue if you think that problem wasn't fixed.

[2016-02-12 08:39] ekalinin commented on #59
4. If you have globaly installed nodejs then try this:
[code]

[2016-02-12 15:13] felixsanz commented on #59
oh, i did not do git clone. i did npm install!

[2016-02-12 15:13] #59 closed

[2016-02-24 00:55] felixsanz opened #61 "Ability to use HH:MM:SS in lastmod"
The code says:

It is possible to specify the hour/minute/second somehow or needs PR?

[2016-02-24 08:12] ekalinin commented on #61
Hey @felixsanz

Yes, it's possible :)
Please, look on this comment:
  * https://github.com/ekalinin/sitemap.js/issues/16#issuecomment-57186652

[2016-02-24 08:24] #61 closed

[2016-03-09 14:52] ekalinin commented on #17
Fixed in #62

[2016-03-09 14:52] #17 closed

[2016-03-15 17:36] nguyenngocphuongnb commented on #46
This pull also supported for image:caption
https://github.com/ekalinin/sitemap.js/pull/63

[2016-03-17 16:24] rauberdaniel opened #65 "Use jstoxml instead of doing string concatenation everywhere"
What do you think about using a dependency (e.g. https://github.com/davidcalhoun/jstoxml) to create a valid xml output instead of doing string concatenations? In my opinion this would definitely make the code easier to understand and maintain.

[2016-04-01 11:05] ekalinin commented on #65
Hey @rauberdaniel

Thanks for the propose.
But to be honest i don't want to add one more dependency.
But will think about it.

[2016-04-05 15:38] rauberdaniel commented on #45
I just submitted a pull request to url-join which fixes this issue. It already got merged and published with version 1.1.0. So you only should need to update the version and it should work.

[2016-04-05 19:38] #45 closed

[2016-04-05 19:38] ekalinin commented on #45
Thanks @rauberdaniel !

[2016-04-18 21:06] woodyrew opened #66 "Split sitemaps up for large volume."
Sitemaps files shouldn't exceed 10MB or 50,000 URLs per file. This means you need a sitemap index file. I couldn't see this in the api, can it be done already?

For more infomation, see: http://www.sitemaps.org/faq.html#faq_sitemap_size

[2016-04-19 08:09] #66 closed

[2016-04-19 10:03] woodyrew commented on #66
Thanks for the clarification :+1:

[2016-04-19 10:04] ekalinin commented on #66
You're welcome :)

[2016-04-25 19:52] mvandiest opened #67 "cache is sliding and will never invalidate in certain scenarios"
Given a cacheDuration of say 5000, if requests come in every 4 seconds then the cache will never expire and therefore never allow new dynamic items to be added when using isCacheValid.

[This line](https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap.js#L382) effectively resets the cacheSetTimestamp anytime it's called. Therefore creating a sliding expiration.

Maybe I'm using the cache

[2016-04-25 20:05] mvandiest commented on #67
Nevermind... I overlooked an issue on my side... closing...

[2016-04-25 20:05] #67 closed

[2016-04-26 17:01] fantapop opened #68 "expires tag"
Hi,

I'm interested in adding the expires tag to my sitemap for use with Google Custom Search as described here: https://developers.google.com/custom-search/docs/indexing#on-demand-removal

It doesn't look like there's currently a way to do this with sitemap.js.  Is this something you'd feel okay with being in the project? I realize its not currently a standard.

[2016-04-27 19:08] swati615 opened #69 "Dynamic sitemap index"
I want to generate sitemap index that gets updated every month with new sitemaps. I tried the following:
[code]

But this generates the following files:

where the sitemap-index file contains:
[code]

And each contains:
[code]

I actually want the sitemap-index to be:
[code]

How can I give an array of paths to sitemap xmls while executing .createSitemapIndex instead of having it create sitemap-1,

[2016-04-29 13:49] tomvlk opened #70 "Hash in url root, separator is stripped"
When using url's like this:

[code]

it get's stripped as:

[code]

[2016-04-29 13:59] ekalinin commented on #70
Hey @tomvlk

I'm using this tool for url joining: https://github.com/jfromaniello/url-join/
Btw, did you try:
[code]
?

See more details in #45

[2016-04-29 14:04] tomvlk commented on #70
Well, this is what I'm trying right now:

[code]

and the result of the XML is:
[code]

And with the current site /#1/ is not working right, where /#/ is.

[2016-05-18 09:30] robixxu commented on #45
this is still a issue i'm using the last version of url-join which has that fix merged but the separator is still stripped.

[2016-05-26 15:21] markelarizaga commented on #56
This addition would be great, so here is my +1 too.

[2016-05-27 07:24] markelarizaga commented on #56
Pull request created, hope it's good enough and gets merged.

[2016-06-06 14:33] casufi opened #74 "Deprecated/wrong usage example"
The following code from example will not work
`sitemap.toXML( function(xml){ console.log(xml) });`
You have to change example to handle error
`sitemap.toXML( function(err, xml){ if (!err){console.log(xml)} });`

[2016-06-06 14:44] #74 closed

[2016-06-06 14:44] ekalinin commented on #74
Thanks! Fixed.

[2016-06-26 15:53] Aspie96 opened #76 "XML not valid"
I tried to generate a sitemap and to validate it with:
https://validator.w3.org/

And it does not validate.

This is not necessearly a problem, but it would probably be better to fix it.

(Thank you for this library).

[2016-06-26 16:25] Aspie96 commented on #76
Sorry, I apologize: my bad.
I copied the generated source code from Google Chrome ("view-source:…", which adds an extra line).

[2016-06-26 16:25] #76 closed

[2016-06-26 19:57] ekalinin commented on #76
It's ok :)

[2016-06-27 01:18] rauberdaniel commented on #46
I created a new pull request which adds support for image:caption (as #63 by @nguyenngocphuongnb has some issues) including tests and example

[2016-06-27 10:19] #46 closed

[2016-06-27 11:07] ekalinin commented on #56
Should be fixed by #73

[2016-06-27 11:07] #56 closed

[2016-06-27 11:09] ekalinin commented on #68
Hey @fantapop

Yes, this tag isn't supported at the moment.

I have nothing against it :) Feel free to create a PR.

[2016-06-27 11:09] #68 closed

[2016-06-27 11:11] ekalinin commented on #16
Should be fixed in [1.7.0](https://github.com/ekalinin/sitemap.js/releases/tag/1.7.0)

[2016-06-27 11:11] #16 closed

[2016-06-27 11:20] ekalinin commented on #21
The solution was found.

[2016-06-27 11:20] #21 closed

[2016-07-03 21:50] rauberdaniel opened #78 "Unit Test fails due to timezone offset"
The tests currently fail on my machine probably due to timezone offset (I’m currently in New Zealand, UTC +12) and the test fails because

(calculated by sitemap.js with input `lastmod` 2011-06-27 and timezone offset) 2011-06-28 ≠ 2011-06-27 (set in comparison string)

Seems like we should have a look at the date calculation.

[2016-07-04 06:18] ekalinin commented on #78
Hey @rauberdaniel

Yeah, i changed one place related to the TZ (e1abd0c43236019)
And test with this change looks good:
  * https://travis-ci.org/ekalinin/sitemap.js/builds/140503724

What version of the node did you use?

[2016-07-04 10:51] amitos80 opened #79 "support for news site map"
Hi,
I need to create news sitemap for our company blog.
it needs to the support the following
[code]

[2016-07-04 21:12] rauberdaniel commented on #78
@ekalinin I am using node 6.2.2
It might not be an issue for you or travis because you’re in a time zone closer to UTC (if that makes sense?).

[2016-07-04 21:14] rauberdaniel commented on #79
@amitos80 yes it does. #52 introduced that.

[2016-07-05 06:22] #79 closed

[2016-07-08 15:39] wmcmurray commented on #34
+1
I would like to handle SitemapIndex as string outputs, not as automatically written files.
@irvingswiftj Which module did you used instead ?

[2016-07-08 15:47] irvingswiftj commented on #34
I'm afraid it was for a project in which I no longer have access to the source so i can't find out and I can't remember from the top of my head.

[2016-07-08 15:55] wmcmurray commented on #69
+1 !

[2016-07-08 23:24] rauberdaniel commented on #69
@swati615 @wmcmurray I just opened #81 which will allow to create a sitemapindex with custom urls. However, that method does not include writing a file, but that’s just a call of `fs.writeFile` anyways, so you can easily do that in your own code.

[2016-07-08 23:27] rauberdaniel commented on #34
I just opened #81 which will allow to build a sitemap index and return it as string. However, this method is called `.buildSitemapIndex()` to prevent backwards compatibility. Haven’t yet documented it but will do so.

[2016-07-09 03:20] rauberdaniel commented on #78
@ekalinin #82 should fix this

[2016-07-09 05:25] #78 closed

[2016-07-11 08:14] ekalinin commented on #34
#81 merged

[2016-07-11 08:14] #34 closed

[2016-07-13 11:13] silveur opened #83 "Image loc and caption problems"
Hi, whenever I add an image with its caption I always end up being a wrong url such as:

`<url>
<loc>
https://URL
</loc>
<image:image>
<image:loc>https://URL/[object Object]</image:loc>
</image:image>
</url>`

The image:loc is wrong and the caption doesn't seem to appear...
The problem seems to be at ligne 383 in your sitemap.js file

[2016-07-14 06:57] rauberdaniel commented on #83
@silveur that sounds like you haven't updated to the latest version of Sitemap.js

[2016-07-14 10:42] Kronos66 commented on #83
I had similar problem which appear when host name in main config was different than image host. I resolve this problem removing main host name.
[code]

[2016-07-26 12:16] silveur commented on #83
I'm using version 1.8 of sitemap.js which is latest.
Can't figure out what's wrong tbh

[2016-07-27 03:59] rauberdaniel commented on #83
@silveur would you show us the code excerpt how you call sitemap.js so that we can reconstruct it?

[2016-07-29 12:07] silveur commented on #83
Basically the route looks like this:
`app.get('/sitemap.xml', function(req, res)
	{
		SEO.getSitemap(function(sitemapjson)
		{
			sitemap = sm.createSitemap(sitemapjson);
			sitemap.toXML( function (err, xml)
			{
				if (err) return res.status(500).end();
				res.header('Content-Type', 'application/xml');
				res.send(xml);
			});
		})
	});
`

And for each url that i add I try to add the image lo

[2016-07-30 02:00] rauberdaniel commented on #83
Hey @silveur
I found the issue with hostname and images as objects and fixed it with #84
This issue should be solved as soon as it is merged and released. Thanks for the hint @Kronos66

[2016-07-30 07:30] #83 closed

[2016-07-30 07:47] #69 closed

[2016-07-30 07:48] ekalinin commented on #83
Thank you @rauberdaniel so much!
Just released 1.8.1.

[2016-08-02 04:25] yi opened #85 "an error in README"
section: https://github.com/ekalinin/sitemap.js#example-of-sitemap-index-as-string

current:

`
var sm = require('sitemap')
  , smi = new sm.buildSitemapIndex({
      urls: ['https://example.com/sitemap1.xml', 'https://example.com/sitemap2.xml']
      xslUrl: 'https://example.com/style.xsl' // optional
    });
`

should be:

`
var sm = require('sitemap')
  , smi = sm.buildSitemapIndex({
      urls

[2016-08-02 06:20] #85 closed

[2016-08-02 06:21] ekalinin commented on #85
Thanks!

[2016-08-04 17:48] silveur commented on #83
Really glad this is fixed 👍
Thanks @rauberdaniel and @ekalinin

[2016-08-04 17:55] silveur commented on #83
Thanks @rauberdaniel
I'm guessing the CDATA prefix for the caption is there on purpose too?

[2016-09-29 02:16] prettyYang opened #87 "buildSitemapIndex error"
self is not defined in buildSitemapIndex (line 469 in sitemap.js)

[2016-09-29 08:42] ekalinin commented on #87
Hey @prettyYang

Thanks for the report.
Fixed in 0662bd30

[2016-09-29 08:42] #87 closed

[2016-10-10 19:27] muhammadfaizan opened #88 "Please add sitemap for video"
Support sitemap for videos, and is there anyway i can create sitemap for video pages
Thanks

[2016-10-15 09:29] ram-you opened #89 "Please add AMP support"
As indicated in this link: https://developers.google.com/search/docs/guides/create-URLs
We have to add entries for both canonical and **AMP URLs**.
It's a little similar to  **androidLink** support.

Just make those changes to sitemap.js:

[code]

Thank you.

[2016-10-18 14:50] shakaIsReal opened #90 "can you add a `fromXml()` method ?"
This would be useful to add new data to existing sitemaps

[2016-11-23 00:43] seanohollaren opened #91 "Lastmod for sitemap index entries?"
Is it possible to add a `lastmod` property for entries in a sitemap index?

I currently have code like this to create the sitemap index XML string:
[code]

Is there any way get the generated sitemap index to have a `<lastmod>` element, similar to how the module allows you to pass a `lastmodISO` property when creating a sitemap?

Ideally it would produce XML like this:
[code]

[2016-12-06 07:36] itzrahulsoni opened #92 "How to check if Sitemap Index is working as expected?"
The documentation doesn't mention how to test the Sitemap index. Please update the document about Sitemap Index.

[2016-12-06 08:13] ekalinin commented on #92
Hi @itzrahulsoni

Here's a more detailed example:

[code]

[2016-12-28 02:19] qtran-coursera commented on #88
+1 :]
Спасибо, @ekalinin !

[2016-12-28 07:10] ekalinin commented on #88
@qtran-coursera [Тебе спасибо за этот патч](https://translate.yandex.ru/?text=%D0%A2%D0%B5%D0%B1%D0%B5%20%D1%81%D0%BF%D0%B0%D1%81%D0%B8%D0%B1%D0%BE%20%D0%B7%D0%B0%20%D1%8D%D1%82%D0%BE%D1%82%20%D0%BF%D0%B0%D1%82%D1%87&lang=ru-en) #93 ! ;)

[2016-12-28 07:10] #88 closed

[2017-01-02 20:21] nuclearspike commented on #89
+1

[2017-01-02 20:31] nuclearspike opened #95 "images don't support all options"
According to [this definition](https://support.google.com/webmasters/answer/178636), I should also be able to output geo_location, title, license for images listed in the sitemap. I'm not seeing that those work.

[2017-01-07 18:26] OmJan commented on #95
I've done pull request, please check https://github.com/ekalinin/sitemap.js/pull/96

[2017-01-09 11:15] #95 closed

[2017-01-09 11:15] #92 closed

[2017-01-09 11:40] #89 closed

[2017-01-09 23:29] nuclearspike commented on #89
Sweet! Thanks! Is there a schedule for when this will be in the NPM package or should I just ref the git repo in my package.json?

[2017-01-10 10:22] ekalinin commented on #89
Just published it — [1.9.0](https://github.com/ekalinin/sitemap.js/releases/tag/1.9.0)

[2017-01-10 10:23] nuclearspike commented on #89
Sweet! Thanks for publishing!

[2017-01-16 02:14] dquang-tran opened #99 "Invalid UTF-8 characters"
Not all UTF-8 characters are accepted in an XML document. [Here](https://www.w3.org/TR/REC-xml/#charsets) is the range of possible characters.
If you insert a character outside of this range, you get an invalid XML document that would give you "PCDATA invalid Char value .." error when you try to open it in chrome.
Do you think it would be a good idea to add an input sanitizer that strips away all

[2017-02-13 14:52] Mickael-van-der-Beek commented on #68
@ekalinin I created the PR for this here: https://github.com/ekalinin/sitemap.js/pull/100

[2017-02-13 16:37] ekalinin commented on #68
Thanks! Merged.

[2017-02-20 09:52] rauberdaniel commented on #99
Sounds good to me. Maybe in combination with dropping a warning that characters have been removed or something similar.

[2017-03-01 05:36] ztz0223 opened #101 "How can i set the UA(User-Agent ) for the request?"
Great for NodeJS plugin, and my question is how to set the UA?

As my site: [www.doocr.com](http://doocr.com), is a single-page web, I need to get the UA string to handle the sitemap request, like the SEO request, could you provide the options for the createsitemap interface?

Thanks.

[2017-03-01 10:17] ekalinin commented on #101
Hey,

It's quite not clear what do you want to do.
`sitemap` — is just xml file generator.
Where and what for do you want to use `User-Agent`?

The only thing i can imagine — it's a get-request handler for express.js.
Something like this:
[code]

[2017-03-01 16:53] florianlebrenn commented on #37
Same issue with expressjs (4.14.0), node (7.3.0) and sitemap.js (1.9.0).

[code]

[code]

[2017-03-01 17:00] florianlebrenn opened #102 "sitemap breaks when add links (alternate lang)"
Could you reopen this issue with new comment: https://github.com/ekalinin/sitemap.js/issues/37

Thanks in advance,

[2017-03-02 10:58] ekalinin commented on #37
Hey @florianlebrenn

Could you provide more details? What is wrong with this response?
As i see xml is valid and all lang links are in the place.

[2017-03-02 10:59] ekalinin commented on #102
Will continue in #37

[2017-03-02 10:59] #102 closed

[2017-03-02 11:21] ekalinin commented on #37
Clear setup:
[code]
Code:
[code]
Test:
[code]

LGTM :)

[2017-03-02 12:52] florianlebrenn commented on #37
Hello @ekalinin,

Thanks for your answer. When I try to display sitemap.xml from chrome. I see the same result than @seanmthompson : https://cloud.githubusercontent.com/assets/5447621/11282132/9320b82a-8eb2-11e5-926d-27bd2dd9ce91.png. Without "links", the sitemap result is displayed correctly by chrome (I can see xml code like this https://cloud.githubusercontent.com/assets/5447621/11282131/931fd0

[2017-03-03 08:01] ekalinin commented on #37
Hey @florianlebrenn

Yeah, seems like something wrong with Chrome's XML Viewer.
Current xml format corresponds to the [google's spec](https://support.google.com/webmasters/answer/2620865?hl=en):

![2017-03-03_10 49 20_001](https://cloud.githubusercontent.com/assets/234891/23542596/2f65d72e-ffff-11e6-8549-95fb953335b1.png)

Moreover, on this sites I've had a response that this XML is valid:
  * xml

[2017-03-05 13:01] ztz0223 commented on #101
Sorry for my late response, there is another scenario for UA, for SEO of single page website, like Google will check the head part to check the:
**<meta name="fragment" content="!">**
and then send another request with a query string:  **?_escaped_fragment_**
So we dev our site to handle this, and then the prerendering for the static page, but a lot of the spider wont check the fragment part, and

[2017-03-06 09:36] florianlebrenn commented on #37
Hello @ekalinin

Thanks. Have a good day.

[2017-03-06 23:11] yongzhihuang opened #103 "Unable to use CDATA wrap on urls when using createSitemap"
Hi, great module!  I ran into this issue where

[code]

throws an error:

 `{ [NoURLProtocolError: Protocol is required] name: 'NoURLProtocolError', message: 'Protocol is required' }`

vs doing this with `buildSitemapIndex` where it doesn't throw that error.

Thanks!

[2017-03-07 09:53] ekalinin commented on #103
Hey, thanks for report & patch. Should be fixed now.

[2017-03-07 09:53] #103 closed

[2017-03-15 10:53] alexeybondarenko commented on #28
+1

[2017-03-15 11:17] #28 closed

[2017-03-20 08:06] jyotman opened #105 "sitemap variable declaration error in README.md"
Most of the examples provided in the README.md begin correctly -

    var sm = require('sitemap');
    var sitemap = sm.createSitemap()

But in some examples it is written -

    var sm = sm.createSitemap()

It seems we're assigning the created sitemap instance to the variable already referencing the `sitemap.js` module. I feel this could be a bit confusing for the readers and could be made unifor

[2017-03-20 15:12] #105 closed

[2017-03-21 07:26] jyotman commented on #91
@ekalinin can we introduce this feature?

According to [sitemaps protocal](https://www.sitemaps.org/protocol.html#index) there's an optional `lastmod` attribute which can be given to each sitemap in a sitemap index.

**lastmod**

By providing the last modification timestamp, you enable search engine crawlers to retrieve only a subset of the Sitemaps in the index i.e. a crawler may only retrieve Si

[2017-03-21 08:28] jyotman opened #107 "Wrap video title and description in CDATA similar to image caption and title"
I found this as I was having trouble setting video title with a `&` character in it.

Image caption and title are wrapped in `CDATA` like this -

    var caption = image.caption ? '<image:caption><![CDATA['+image.caption+']]></image:caption>' : '';

Right now video description and title are are being passed as it is -

    '<video:title>' + video.title + '</video:title>'

We can wrap these also li

[2017-03-24 06:59] #107 closed

[2017-04-17 20:43] Ilshidur opened #110 "Support multiple video "tag""
Currently, if we create a sitemap like this :

[code]

the actual sitemap output is :

[code]

but should be this, [according to Google](https://developers.google.com/webmasters/videosearch/sitemaps#video-sitemap-tag-definitions) :

[code]

Which means [this code](https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap.js#L203) must loop through the tag and insert a new `<video:tag>` for ea

[2017-04-20 22:10] anthonyettinger opened #112 "example of generating multiple sitemaps from a large list of urls?"

[2017-05-10 20:28] dhritzkiv opened #113 "`del` method requires fully formed urls"
The `.del` method only seems to work if you pass a fully qualified url (hostname + path) as the argument.

However, the example in the README seems to operate with just the path (no hostname) in both string argument, and object argument forms.

Should the README documentation be updated to reflect the format that `del` is expecting, or should `del` be patched to work with path-only urls?

[2017-06-14 07:49] danpersa opened #114 "package.json not found"
The code in [this file](https://github.com/ekalinin/sitemap.js/blob/master/index.js) gives me an error, as soon as I create a node module with webpack. The error says that the `package.json` file is not found.
[code]
Why does the code depend on the package.json file?
Am I configuring it wrongly? Is there an workaround?

[2017-06-14 09:18] ekalinin commented on #114
Hey,

This block of code reads a version of the package from [package.json](https://github.com/ekalinin/sitemap.js/blob/master/package.json).
Just to not copy-paste the version (DNRY).

Why there's no such file in your installation? How did you install `sitemap.js`?

[2017-06-14 09:45] danpersa commented on #114
I used npm for installing it. In my project, I have the `package.json` file. Then I use `webpack` to create a node distribution, all of code gets concatenated and minified and in the end I have a file called `app.js`. When I try to run this file, `node app.js`, the `sitemap` code in the `app.js` file looks for the `package.json` file, which doesn't exist, as I'm not into the context of the project

[2017-06-14 15:51] #114 closed

[2017-06-14 15:53] danpersa commented on #114
@ekalinin thanks a lot!

[2017-06-14 15:53] ekalinin commented on #114
No problem :) Thanks for report.
Please, try new version:
  * https://github.com/ekalinin/sitemap.js/releases/tag/1.12.1

[2017-07-13 09:28] ortonomy commented on #101
@ekalinin - actually, I can think of a use case for this.

The site I'm trying to build a site map for: Only from that static XML at https://disneyland.disney.go.com/ will detect that your 'browser' is out of date  if you do not supply a user-agent in an 'up-to-date' list. Any crawler building a site map therefore only gets a single page telling you where to download 'the most up to date browser'.

[2017-08-23 01:14] me12722 opened #116 "Updated from version 0.8.1 to 1.13.0 and sitemap no longer rendering"
I recently updated my version of the module to incorporate google news articles but after the update my sitemap stopped rendering.

Here is the sitemap object: Sitemap {
  limit: 50000,
  hostname: 'http://fedev.storied.co/projects/94833010577af9caaae32b1ec23e0df5/',
  urls:
   [ { url: 'home/',
       lastmodISO: '2016-11-18T14:28:45.000Z',
       changefreq: 'daily',
       priority: 0.5 },

[2017-08-23 07:24] ekalinin commented on #116
Hey @me12722

Just tested your example:

[code]

[2017-08-23 16:54] me12722 commented on #116
Resolved my issue. In version 0.8.1 calling toXML() returned a callback with the first argument self.toString() but now it returns null as the first argument and self.toString() as the second.

Thanks I appreciate you testing that out for me.

[2017-08-23 17:03] #116 closed

[2017-08-25 16:02] michaelBenin commented on #110
Yup just ran into this as well. Seems pretty straight forward to implment. Check for "tags" and iterate over them: https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap.js#L202

[2017-09-17 11:35] Birowsky commented on #90
how do you guys bypass this currently?

[2017-10-24 10:45] sonal241 opened #117 "Cannot resolve module "fs""
hello,
       I m using your plugin but it not working.show above error.Please tell me what is probem
Thanks

[2017-10-24 10:57] ekalinin commented on #117
Hey,

Show me your code, please.
What version of the node are you using?

[2017-10-24 11:00] sonal241 commented on #117
I m using  "@types/node": "^8.0.46" this

[2017-10-24 11:00] sonal241 commented on #117
**"@types/node": "^8.0.46",**

[2017-10-24 11:01] sonal241 commented on #117
i am using **"node": "^8.0.46",**

[2017-10-24 11:07] sonal241 commented on #117
**Example of dynamic page manipulations into sitemap:

var sitemap = sm.createSitemap ({
      hostname: 'http://example.com',
      cacheTime: 600000
    });
sitemap.add({url: '/page-1/'});
sitemap.add({url: '/page-2/', changefreq: 'monthly', priority: 0.7});
sitemap.del({url: '/page-2/'});
sitemap.del('/page-1/');**
added above example In my project but it can't work

[2017-10-24 11:31] ekalinin commented on #117
[code]

[2017-10-24 12:51] sonal241 commented on #117
hey USing same code still show same error

[2017-10-24 12:55] sonal241 commented on #117
I thing problem is from sitemap.js which not getting  **fs**  Module

[2017-10-27 05:34] sonal241 commented on #117
can you tell me how to return **sitemap.toString()** into xml format

[2017-10-27 05:56] ekalinin commented on #117
In my example result from `sitemap.toString()` is exactly XML.

[2017-10-27 06:06] sonal241 commented on #117
Actually I m using this plugin in vuejs project so i want to return sitemap.toString() on browser but i couldn't do this. result is display in console.log but how can i return on browser .
If you  have any idea about this then please tell me

[2017-10-27 10:23] ekalinin commented on #117
I believe it's not possible to use sitemap in the browser atm,

[2017-10-27 11:54] sonal241 commented on #117
I just want to return data in xml document format  which is displayed  in textformat
Like this
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:news="http://www.google.com/schemas/sitemap-news/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:mobile="http://www.google.com/schemas/sitemap-mobile/1.0" xmlns:image="http://www.google.com/sche

[2017-11-01 08:05] sergop321 opened #118 "Generate URL with wrong Hostname"
Generating 2 different sitemaps with different hostname, generates both with same hostname
Using the latest version 1.13.0

[code]

will output
[code]

It does works correctly for (But I do need the extra options)
`const staticUrls = ['/test1', '/test2'];`

[2017-11-26 16:37] sabuhinazarov commented on #90
The same problem as well :(

[2017-11-29 16:05] misticwonder opened #119 "Problem with module version after webpack bundling"
After webpack bundling this code
`if (!module.exports.version) {
  module.exports.version = JSON.parse(
    fs.readFileSync(pack_file, 'utf8')).version;
}`
cause an error
`Error: ENOENT: no such file or directory, open '/package.json'`
Because all project compressed in one file without any package.json

[2017-12-04 15:30] #119 closed

[2017-12-06 14:28] kunokdev opened #120 "Anyway to put <url></url> inside Index Sitemap?"
I am trying to implement sitemap similar to one from BBC.

http://www.bbc.co.uk/sitemap.xml

Basically they have index sitemap with various `<sitemap></sitemap>` links to actual sitemaps, but they also have `<url></url>` at the top for their homepage.

I am currently using `buildSitemapIndex` method.

[2017-12-12 12:46] NeXTs commented on #112
@ekalinin Hello
Does this plugin supports automatic splitting of large list of url to multiple sitemaps? Or we need to do it manually?

There are [https://github.com/ekalinin/sitemap.js#example-of-sitemap-index](Example of Sitemap Index) in docs, but honestly I didn't get from docs if it's possible to split large list to multiple files automatically.

[2018-01-26 20:26] dcurletti opened #124 "'&' Gets Replaced with '&amp;' in URL"
Hi there- When I add a url that contains '&', it is replaced with: '&amp;'.  Any reasoning for this that I'm not aware of, or is it possibly a bug?  Thanks!

[2018-01-26 20:36] #124 closed

[2018-01-26 20:36] dcurletti commented on #124
I see it, I can pass a `safe` param.

[2018-01-26 20:41] dcurletti commented on #124
Actually, not quite sure where I'm supposed to pass the `safe` param.  I passed it to both `.add` and the top level config.

[2018-01-26 21:32] dcurletti commented on #124
Whoops, I was passing "false" when it should be "true".

[2018-03-02 22:06] meyt opened #125 "Image URL not escaping"
Characters like ampersand can cause `xmlParseEntityRef` on images URL, `image:loc` need to xml-escape.

https://github.com/ekalinin/sitemap.js/blob/8c96fb32558a10fd9db9e8bf0f60d7146752c210/lib/sitemap.js#L165

[2018-03-04 20:55] snegostup opened #127 "Alternate mobile pages?"
Is it possible to implement such structure?
[code]
https://developers.google.com/search/mobile-sites/mobile-seo/separate-urls

[2018-03-06 18:32] dincozdemir opened #128 "var smi = elem side effect problem"
This code block inside sitemap.js causes url elements to mutate.
[code]
It should be something like:
`   var smi = {...elem}`

[2018-03-16 19:23] godsmustbcrazy commented on #90
+ 1 Same problem.

Trying to implement something where sitemap persists between deployments.

[2018-04-18 11:55] KerrGrah commented on #70
I was able to get around this issue by including the entire url starting from https...  so that url-join is not invoked at
`if (!reProto.test(link.url)) {
            link.url = urljoin(self.hostname, link.url);
        }`
seems like you left a good way out!

[2018-04-18 22:42] derduher commented on #125
This appears to also be present in the video tag and most likely others as well

[2018-04-29 16:29] budarin opened #133 "what is the purpose of the cacheTime option?"
Hi!
what is the purpose of the cacheTime option when using not in web app?

[2018-04-29 16:42] budarin opened #134 "is there an ability to maintain a list of sitemaps like in sitemap2 ?"
Hi!
We have a complex webapp so its prefferable for us would be to split sitemap for main sections.

[2018-05-04 11:51] ekalinin commented on #133
Hey,

It's a period for cache invalidation. It's useful in cases when you have a huge sitemap.
Each `toString` call includes a lot of work and if you want to reduce the amount of that work it's very handy to use cache.

[2018-05-04 11:51] #133 closed

[2018-05-04 11:55] ekalinin commented on #134
Hey,

Do you mean sitemap index?

https://github.com/ekalinin/sitemap.js#example-of-sitemap-index-as-string

[2018-05-04 11:55] #128 closed

[2018-05-04 11:55] budarin commented on #133
thanks

[2018-05-04 11:56] #125 closed

[2018-05-04 12:03] budarin commented on #134
am I right?
- I need manually save each sitemaps and give them names
- create sitmap index and put there those names

[2018-05-04 12:52] ekalinin commented on #134
In case of using of function `createSitemapIndex` you won't need to do anything by hands.

Here's an example (from tests):

[code]

where:

* `sm-test-index.xml` is an index
* `sm-test-1.xml.gz` a sitemap with no more than `sitemapSize` urls

[2018-05-04 13:36] budarin commented on #134
I'm sorry, but in my opinion, this is a complex interface.
Take a look at this approach:
[code]

[2018-05-30 14:51] paulwilton opened #148 "Feature request - add support for news sitemaps"
Any chance of adding support for google news sitemaps - requirements here:
https://support.google.com/news/publisher-center/answer/74288?hl=en
example entry:
[code]

[2018-06-11 14:16] andyford opened #149 "documentation for opting out of xmlns:* attributes?"
By default, sitemaps are generated with xmlns:news, xmlns:xhtml, xmlns:mobile, xmlns:image, and xmlns:video, attributes on the 'urlset' element.

I'm no SEO or sitemap expert by any stretch of the imagination, but often these are not relevant and I fear that Google could one day decide that having these attributes when you are not using them will begin to be punished.

Is there any documentation f

[2018-06-13 05:45] menthos984 opened #150 "How to determine if it works?"
Sorry newbie question. But how would I know if the xml sitemap worked?

[2018-06-13 22:13] derduher commented on #148
@paulwilton news is currently supported https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap.js#L308
It is just not documented right now.

[2018-06-13 22:15] derduher commented on #150
https://support.google.com/webmasters/answer/183669?hl=en

[2018-07-14 10:30] FadiAboMsalam commented on #90
any updates on this guys because i need the same functionality

i need to be able to read existing sitemap and add to it

[2018-07-14 10:32] FadiAboMsalam commented on #20
@anthonyettinger  is there a way to read existing sitemap and add new url to it ?

[2018-07-18 17:12] FadiAboMsalam opened #154 "reading existing xml sitemap"
Hi i am facing the following

i have dynamic website that adds post everyday and i want to create sitemap index and add post to the sitemap.
this can be achieved by this library  but as i am still developing more features i want a way to read the xml
maybe like this
[code]

is this possible to achieve because currently am stuck

PS:- i know there is no issue while the server is up and running mean

[2018-07-24 13:04] mtx62 commented on #154
Same concern,

[2018-08-12 20:18] realityking opened #156 "Next release?"
What do you think about tagging a new major release @ekalinin? Lot's of good changes that have added up :)

[2018-08-16 08:09] AhmedAbdulrahman commented on #28
@alexeybondarenko can you give us an example how do use both together, I am trying to make a dynamic sitemap using `sitemap.js` and `react-router-sitemap`. I want to get my react routes dynamically :)

[2018-08-25 14:12] cekvenich opened #159 ".contains()"
How do I find out if the sitemap contains an url already?

So I don't replace by mistake.

[2018-08-27 11:05] ekalinin commented on #159
Hi @cekvenich

There's no such method yet.

here's a simple way (used in [del method](https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap.js#L119)):
[code]

[2018-08-28 10:30] ekalinin commented on #156
Hey @realityking

Yeah, will try to tag 2.0 on this week.

[2018-08-28 10:44] realityking commented on #156
That's awesome. Thank you!

[2018-09-04 15:30] ekalinin commented on #156
@realityking

https://github.com/ekalinin/sitemap.js/releases/tag/2.0.0

[2018-09-04 15:30] #156 closed

[2018-09-05 08:06] realityking commented on #156
Put 2.0.1 in our project and it works flawlessly 👍

Thanks @ekalinin!

[2018-09-15 01:27] knoxcard commented on #150
It will just display on the page, then you can right click view source to see the XML structure.

Here is an example...
https://dispensary.indospace.io/dispensary_menus.xml

[2018-09-15 01:36] knoxcard commented on #113
Should be path only I am thinking because sitemaps only work for one domain?

[2018-09-17 08:52] ekalinin commented on #159
Good point. Maybe will do it in this way.

[2018-09-19 15:11] dhritzkiv commented on #113
I agree, especially since that's what's listed in the documentation

[2018-09-19 15:33] ekalinin commented on #113
Hey @dhritzkiv

Could you provide any example of this issue?

`.del` & `.add` methods should work with paths only (without domains).
Like here:

- https://github.com/ekalinin/sitemap.js#example-of-dynamic-page-manipulations-into-sitemap

Full path (hostname + path) is created only in `toString` method:

- https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap.js#L192

[2018-09-19 16:00] dhritzkiv commented on #113
Hi @ekalinin. Thanks for chiming in.

I've reproduced a case [here on Runkit](https://runkit.com/embed/ab4hk5fu4af5). Note: I used the same version of sitemap.js (v1.2.0) as when I reported this issue initially.

It looks like the problem is fixed in the latest codebase, however. Because it's fixed, I suppose it's safe to close.

[2018-09-20 07:34] ekalinin commented on #113
Cool. Thanks @dhritzkiv

[2018-09-20 07:34] #113 closed

[2018-09-23 08:03] TimoRuetten commented on #149
This feature would be nice. Because it seems to be missing in this repo we will have to write it by our own.

[2018-09-23 08:39] TimoRuetten opened #164 "Use HTTPS instead of HTTP in urlset"
I have display issues in my Browsers when I want to test and see the generated XML file. It seems that you are using HTTP protocol instead of the HTTPS . When I changed it to HTTPS its working fine.

[code]

[2018-09-26 23:39] #150 closed

[2018-10-18 12:29] LukeOak commented on #164
Same problem here. When I try to use `links` my XML completely fall apart. Temporal work around
[code]

[2018-11-16 09:31] andyford commented on #149
Looking through the sourcecode and the tests, I found that you can pass an argument like
[code]
if you want to opt out of all the other urlset attributes (xmlns:news, xmlns:xhtml, xmlns:mobile, xmlns:image, and xmlns:video)

[2018-11-16 10:49] andyford commented on #149
PR: https://github.com/ekalinin/sitemap.js/pull/167

[2018-12-10 12:39] jchungkr opened #169 "Questions: difference between sitemap.toXML and sitemap.toString()?"
Apologize for posting question on the Issues tab
(will delete and move if there is a community / forum)

Also is there a way to generate sitemap with line breaks between the nested tags/nodes? I am getting a xml file that is one continuous stream of tags/nodes.

Thank you 😀

[2018-12-10 13:02] ekalinin commented on #169
Hey,

Nope, there's no such method.
But you can do it pretty easy with yourself:

- https://stackoverflow.com/a/16090892

[2018-12-10 13:09] jchungkr commented on #169
Thank you for the super fast reply.
I am using sitemap in aws lamda so I will try some pretty print npm modules.

Also is there a difference between the `sitemap.toXML` and `sitemap.toString()` methods?

[2018-12-10 13:45] #169 closed

[2018-12-20 02:41] gmunisifreddy opened #170 "Question: How to create sub sitemaps?"
I want to create a sitemaps that has sub sitemaps. Is it possible to create sub sitemaps?

[2019-01-03 04:52] JustinBeaudry commented on #149
Is this still an open issue given that #167 was merged?

[2019-01-03 13:11] #149 closed

[2019-01-06 05:14] ceefour commented on #170
@gmunisifreddy What you want is a sitemap index that lists individual sitemaps. This use case is already covered in the README, you can read it.

@ekalinin I think you should close this.

[2019-01-06 05:16] ceefour opened #171 "Support xslUrl for sitemap index"
Currently `xslUrl` is only supported for sitemap, but not for sitemap index.

Please support this option. Thank you.

[2019-01-06 05:50] ceefour commented on #171
Sorry for the false alarm. This is already supported.

[2019-01-06 05:50] #171 closed

[2019-01-10 07:45] alexey-kuznetsov commented on #117
Package 'fs' was removed from NPM. So npm downloads empty placeholder instead of package. May be solution is to use 'graceful-fs' instead of 'fs'?

[2019-01-11 13:21] antimodern commented on #110
Will it be implement? I see its still open

[2019-01-11 15:52] Ilshidur commented on #110
This is not implemented, but I guess if somebody opens a PR, it could be.

The changes must be done here : https://github.com/ekalinin/sitemap.js/blob/39cb303e558daa859ab997949d6ff03cf7e254fa/lib/sitemap-item.js#L165

[2019-01-11 16:02] Ilshidur commented on #110
[I opened a PR](https://github.com/ekalinin/sitemap.js/pull/172) : https://github.com/ekalinin/sitemap.js/pull/172

[2019-01-13 10:48] ekalinin commented on #110
PR was merged. Thanks for that!

[2019-01-13 10:48] #110 closed

[2019-01-13 10:50] ekalinin commented on #164
Will be fixed in #165

[2019-01-13 10:50] #164 closed

[2019-01-23 00:40] santhoshsk1918 commented on #124
Where do you pass safe parameter i have tried adding them along with each url `{ url: '/page-1/',  changefreq: 'daily', priority: 0.3, safe: true }` i also tried adding them in .createSitemap({safe: true}) but still the same result all & are getting converted to &amp;.

[2019-01-23 07:00] santhoshsk1918 opened #173 ""&" in the links are getting replaced to "&amp;""
URL with & are getting replaced to &amp. This issue was already noted and closed in ['&' Gets Replaced with '&amp;' in URL](https://github.com/ekalinin/sitemap.js/issues/124) with solution not properly specified. In the solution mentioned he mentions safe parameter to be passed but  where do you pass safe parameter i have tried adding them along with each `url { url: '/page-1/a=2&b=1', changefreq:

[2019-01-23 07:51] ekalinin commented on #173
Hey @santhoshsk1918 !

Could you provide an example of your issue?

Here's what i'm getting:

[code]

and:

[code]

[2019-01-23 09:08] santhoshsk1918 commented on #173
<url><loc>http://ya.ru/view?widget=3&amp;count&gt;2</loc></url>

The output u have is `http://ya.ru/view?widget=3**&amp;**count&gt;2,` here &amp; is not correct url it should have been `http://ya.ru/view?widget=3**&**count>2`

[2019-01-23 10:39] ekalinin commented on #173
Sitemap is a xml document. `&` should be replaced in any xml document with `&amp;`.

Proof:
- https://www.sitemaps.org/protocol.html#escaping

[2019-01-23 10:39] #173 closed

[2019-01-26 09:18] bdrtsky commented on #148
How to use it with news? Can someone help out with example please?

[2019-01-26 09:39] bdrtsky commented on #148
This doesn't work

[code]

Only `loc` and `lastmod` created.
How to use it?

[2019-01-26 09:46] bdrtsky commented on #148
I got it. Hope it will be helpful for somebody (or it should be mention in Docs)

[code]

[2019-01-27 11:47] #148 closed

[2019-01-30 18:34] ronfogel opened #174 "[BUG] lastmod in sitemap index not working"
when using sitemap index with urls that contains url and lastmode, it renders [Object Object] in loc.

[2019-01-31 10:15] ekalinin commented on #174
Hey,

Thanks for report. Could you provide an example?

[code]

result:

[code]

[2019-01-31 11:53] ronfogel commented on #174
I am talking about sitemap index.

'use strict'```

const sm = require('sitemap')
const smi = sm.buildSitemapIndex({
    urls: [{ url: 'https://www.example.com', lastmod: '2011-06-06' }]
  });
console.log(smi.toString())
[code]
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:mobile="http://www.google.com/schemas/sitemap-mobile/1.0" xmlns:image="http://www.google.com/schemas

[2019-01-31 15:53] ronfogel commented on #174
when I use `buildSitemapIndex` with require (like the above image), the urls.forEach is missing this part of code:

[code]

[2019-02-01 07:33] ekalinin commented on #174
@ronfogel thanks for investigation.
But i still can't reproduce the issue.
Could you provide full example, please?

[2019-02-01 12:37] ronfogel commented on #174
What exactly do you want me to provide?
I installed sitemap using `npm install sitemap` and I looked at "sitemap.js" file which is in `node_modules/sitemap/lib/sitemap.js`

and this is the content of the file (which you can see in buildSitemapIndex that it doesnt have the latest version)

[code]

[2019-02-01 12:58] ekalinin commented on #174
I just want to write a test to reproduce this issue.

[2019-02-01 13:08] ekalinin commented on #170
We have 2 examples in README:
- https://github.com/ekalinin/sitemap.js#example-of-sitemap-index-as-string
- https://github.com/ekalinin/sitemap.js#example-of-sitemap-index

[2019-02-01 13:08] #170 closed

[2019-02-13 13:09] chetan-plrch opened #175 "How to generate news sitemap with images, are the images supported in news sitemap ?"

[2019-02-13 14:40] ekalinin commented on #175
Example with images:
- https://github.com/ekalinin/sitemap.js#example-of-images-with-captions

No, news do not support images.

[2019-03-01 09:00] zhijs opened #176 "why priority attribute only allowed Keep one decimal ?"
I scanned the sitemap descriptive [page](https://www.sitemaps.org/protocol.html#xmlTagDefinitions) , and not found that the priority only allow Keep one decimal, otherwise, I refered the famous sites like [豆瓣](https://www.douban.com), and the priority in his sitemap like '<priority>0.000631481287316</priority>', so,  It seems to me that the priority should not only use one decimal.

[2019-03-06 15:29] orverduzco opened #178 "Is there an easy way to use this library with typescript?"
I'm trying to port a project I had in JS to TS, and I have a strong dependency on this library. I've tried to find the definitions file without any luck. Is there already a way, or a plan, to make this library usable with Typescript?

[2019-03-10 20:37] kuiperr005 commented on #90
Same here! Any ideas regarding this?

[2019-04-02 14:37] epelc opened #179 "Use `encodeURI` to escape urls"
URLs should be escaped in the sitemap so that spaces and other characters are formatted properly.

[2019-04-18 16:42] MarcGodard commented on #154
I am just dynamically deploying it so it is 100% up to date.

[2019-04-25 02:51] msheakoski commented on #178
Easy way would be to add allowJs to your tsconfig.json:
[code]
You don't get the benefits of autocompletion for the sitemap module, but your TypeScript code still compiles just fine in strict mode with no warnings.
[code]

[2019-04-29 12:50] iNenu commented on #174
Hello, i have the same problem:
`var sitemapindex = sm.buildSitemapIndex({
  urls: [
    {url: 'https://example.com/sitemaps/sitemapCountry.xml', lastmod: '2019-04-29'},
    {url: 'https://example.com/sitemaps/sitemapRegion.xml', lastmod: '2019-04-29'},
  ]
});`

RESULT:

`<sitemapindex><sitemap><loc>[object Object]</loc></sitemap><sitemap><loc>[object Object]</loc></sitemap></sitemapindex>`

@ron

[2019-05-06 15:51] oarashi commented on #112
@ekalinin also wondering about it. Is it possible to split one big sitemap into couple of smaller ones? =)
Thank you!

[2019-05-07 12:50] AndrewHaluza opened #181 "Repo code doesn't match code npm package"
https://github.com/ekalinin/sitemap.js/blob/8ff1e17884a36c6c9a8280bae0847a81d37b7f91/lib/sitemap.js#L299

2.1.0 version both

![image](https://user-images.githubusercontent.com/15956700/57300441-7edde500-70df-11e9-9a32-8a312a8aade0.png)

There is no in npm package :
[code]

[2019-05-07 18:38] vtenq commented on #110
@ekalinin seems like this fix wasn't released yet or I miss something?

[2019-05-07 19:37] ekalinin commented on #110
You're right. Fixed:
- https://github.com/ekalinin/sitemap.js/releases/tag/2.2.0

[2019-05-07 19:41] vtenq commented on #110
cool, thank you a lot!

[2019-05-07 19:57] derduher commented on #178
I just learned some basic TS, I'll look at this this weekend

[2019-05-28 02:20] ECnetHub commented on #70
The same issue on Angular AP.

[2019-06-05 08:26] crisp2u commented on #70
The relevant issue on url-join is https://github.com/jfromaniello/url-join/issues/10

[2019-06-26 12:04] thomaswr commented on #174
Same problem here.

If I do that, I get the same lastmod date for all the sitemaps in the index, instead of per sitemap.

[2019-07-01 04:34] #179 closed

[2019-07-01 08:08] ekalinin commented on #178
It should be easy now to use `sitemap` from typescript.
#183 was merged.

[2019-07-01 08:08] #178 closed

[2019-07-01 08:16] ekalinin commented on #181
I have no idea how it could be.
Just uploaded [3.0.0](https://www.npmjs.com/package/sitemap/v/3.0.0) version (in typescript).

[2019-07-01 08:16] #181 closed

[2019-07-01 15:36] msheakoski opened #187 "[3.0] urls argument should be optional"
https://github.com/ekalinin/sitemap.js/blob/9cf26148844467104583b5f3c010c73a21d8ea2d/lib/sitemap.ts#L69

Since the default value of urls is an empty array, the urls argument should also be optional. I ran into this issue because I dynamically build my sitemap after initializing:

[code]

After updating to 3.0, the above code triggers a type error but it works fine in 2.x

[2019-07-01 15:39] msheakoski opened #188 "[3.0] add method no longer handles objects"
https://github.com/ekalinin/sitemap.js/blob/9cf26148844467104583b5f3c010c73a21d8ea2d/lib/sitemap.ts#L125

Code like this triggers a TypeScript error after updating to 3.0 due to the add method only accepting a string:
[code]

Instead, it should be something like:
[code]

[2019-07-01 17:40] derduher commented on #187
Good spot, I'll look at this tonight

[2019-07-01 17:40] derduher commented on #188
Good spot. I'll look at this tonight.

[2019-07-01 20:05] derduher commented on #70
As we no longer use url-join this appears to have been fixed `'/#/home'` renders as `<loc>https://hostname.com/#/list</loc>` `!` or no `!`

[2019-07-01 20:05] #70 closed

[2019-07-01 20:20] derduher commented on #99
Can you give an example of a character that is not supported? we've switched to an xml library since this code was created and this ticket may no longer be true.

[2019-07-01 20:24] derduher commented on #65
We have since updated to use xml builder lib. So we are no longer manually concatenating strings.

[2019-07-01 20:24] #65 closed

[2019-07-01 20:52] cekvenich commented on #187
This is blocking me since: I can't create sitemap now and docs don't show a working way to create a map.

[2019-07-01 23:05] derduher commented on #187
@cekvenich just stick to version 2.x until patched. 3.0.0 was released this morning.

[2019-07-01 23:53] derduher commented on #176
After reviewing the XSD for sitemap, it would appear sitemap can support precision like this. I'm not sure why you would but I see no reason to disallow it.

[2019-07-02 01:29] zhijs commented on #176
get, thanks for you answer

[2019-07-02 03:31] #187 closed

[2019-07-02 03:31] #188 closed

[2019-07-02 04:44] #176 closed

[2019-07-02 15:00] cekvenich commented on #187
urls: string is still not optional in 3.1

[2019-07-02 15:02] cekvenich opened #192 "urls: string is still not optional in 3.1"
urls: string is still not optional in 3.1

[2019-07-02 16:49] derduher commented on #187
@cekvenich looks like I missed it in the createSitemap function. You can instantiate sitemap directly for now as I did make that optional. See the definition of sitemap for the map of function to constructor.

[2019-07-02 16:51] #175 closed

[2019-07-02 17:15] derduher commented on #117
I'm confused why would the fs module not resolve while in node?

[2019-07-02 17:22] derduher commented on #101
This sounds like you need to change the url outside of sitemap based on the useragent.

[2019-07-02 17:22] #101 closed

[2019-07-02 17:24] derduher commented on #90
#154 duplicates this.

[2019-07-02 17:24] #90 closed

[2019-07-04 08:15] lenovouser opened #193 "TypeScript errors when upgrading from 2.x to 3.x"
[code]

[2019-07-05 06:27] #192 closed

[2019-07-05 06:29] derduher commented on #193
It looks like xmlbuilder incorrectly defines its default export but this has been addressed by only importing sub objects. This should be fixed in master.

[2019-07-05 11:34] lenovouser commented on #193
@derduher I tried `3.2.0` and it now fails with two errors:

[code]

[2019-07-07 06:59] derduher commented on #193
@lenovouser I think I got it fixed this time. Do you mind giving master a try?

[2019-07-07 08:42] lenovouser commented on #193
@derduher yes, master doesn't fail for me anymore 🚀

[2019-07-08 08:31] derduher commented on #174
I was able to get a failure in 2.1.0
I've copy pasted the code provided by @iNenu and do not get a failure in the latest.
Please upgrade to 3.2.0 and reopen if the problem still occurs.

[2019-07-08 08:31] #174 closed

[2019-07-08 08:33] derduher commented on #193
released in 3.2.1

[2019-07-08 08:33] #193 closed

[2019-07-08 15:41] thomaswr commented on #174
Thank you!
`lastmod: '2019-07-07'` works now, but `lastmodISO: '2019-06-27T15:30:00.000Z'` does not.
Is it supposed to?

[2019-07-08 20:44] derduher commented on #174
@thomaswr looks like that has never been supported through index on a per-url basis. we probably should. I'll open a ticket.

[2019-07-08 20:46] derduher opened #201 "support for lastmodISO for sitemap index entries"
related to #91
lastmod and lastmod iso are available at the top level for sitemap index but not per url for lastmodISO.

[2019-07-10 05:22] derduher commented on #174
@thomaswr upon looking more closely at the code if you wish to pass the second ISO value to the lastmod option, it will behave has intended. This is because unlike in all other parts of the code, the value is simply passed straight through without alteration. whether in ISO format or not. I will add an alias in the mean time but you should be able to work around by passing your ISO value to lastmo

[2019-07-10 05:31] alihesari opened #203 "Sitemap index can be read, but has errors"
I got this error in Google search console: **Sitemap index can be read, but has errors**

[code]

<img width="978" alt="Screen Shot 2019-07-10 at 10 01 12 AM" src="https://user-images.githubusercontent.com/8302633/60942937-b2b0d300-a2f9-11e9-8687-03d181ba881c.png">

[2019-07-10 06:51] #203 closed

[2019-07-10 06:52] derduher commented on #203
I have fixed this in master and we will cut a new release shortly.

[2019-07-10 06:53] derduher commented on #201
fixed in #204

[2019-07-10 06:53] #201 closed

[2019-07-10 06:56] derduher commented on #91
This is supported now, sitemap.buildSitemapIndex({urls:[{url: 'http...', lastmod: '2016-11-22T18:06:38.207Z'}]})

[2019-07-10 06:56] #91 closed

[2019-07-10 14:30] MarcGodard opened #206 "PDFs in sitemap"
I am trying to figure out how to add PDFs? Is it treated like images or like a page?

[2019-07-10 15:32] derduher commented on #206
Like a page probably. I don't imagine google can crawl it though.

[2019-07-10 16:40] MarcGodard commented on #206
@derduher You are right, should have updated this when I figured it out. And yes, it is in the file types that google crawls.

[2019-07-10 16:40] #206 closed

[2019-07-12 02:58] hbinduni opened #207 "Amp sitemap error: Your Sitemap or Sitemap index file doesn't properly declare the namespace"
Hi, i try to add my sitemap with amp link, but it give me this error:
Previously without amp link, everything seem fine. Google can read my sitemap without any error.

<img width="922" alt="Screen Shot 2019-07-12 at 09 49 13" src="https://user-images.githubusercontent.com/1378410/61098815-7eb8e780-a48a-11e9-9371-5975a1abfd21.png">

this is how i build my sitemap:
[sitemap link](https://amp.seword.

[2019-07-12 03:40] derduher commented on #207
@hbinduni This was fixed recently, update to the latest and your problem should be solved.

[2019-07-12 03:40] #207 closed

[2019-07-16 16:38] seanohollaren commented on #91
Awesome, thanks for the update!

[2019-07-23 15:24] RichardKCollins commented on #112
What do you need for "documentation needed"?

I have not worked on a GitHub project before.

I want to run random samples of sites on the Internet to report on accessibility and performance.  I need an easily-shared way for people to run their own surveys, on their and other sites.  My career before I retired was mathematical statistics and global models.  I have been "The Internet Foundation" for

[2019-07-27 15:08] lelukas opened #218 "Is there a way to use it with a Vue project?"
Hi, what would I have write in my vue.config.js in order for it to work? Can someone give me a working example?

[2019-07-27 19:08] derduher commented on #218
I'm not familiar with Vue beyond it being a frontend framework. This library is not tied to any specific framework.  Does your site require a dynamic sitemap or do the amount of pages change infrequently?

[2019-08-01 18:44] lelukas commented on #218
Vue provides a vue.config.js file  that is merged into webpack configuration file on build time. it has a file structure like this:
`
module.exports = {
  configureWebpack: {
     plugins:[]
   }
}
`

Should I put code inside plugins array?

[2019-08-01 20:56] derduher commented on #218
There is no vue/webpack plugin that does this. You need a list of urls to pass to the library. I'm not sure if vue has a routes file. Any dynamic routes (passed a parameter/slug) would need to be explicitly passed to sitemap. You would then need to adapt its output to interface with webpack.
might be easier to just run after webpack as an explicit script.

[2019-08-02 00:44] lelukas commented on #218
Yea, I thought about the possibility. Well, will do it. Thanks

[2019-08-02 00:44] #218 closed

[2019-08-08 12:22] ludovit-ubrezi opened #221 "Module '"zlib"' has no exported member 'CompressCallback'"
Hi at version node -v v10.11.0 it has this nasty bug.

✖ ｢atl｣: Checking finished with 1 errors
[at-loader] ./node_modules/sitemap/dist/lib/sitemap.d.ts:11:10
    TS2305: Module '"zlib"' has no exported member 'CompressCallback'.

![image](https://user-images.githubusercontent.com/29823609/62703063-967f7f00-b9e8-11e9-9dc9-d98eb4475cac.png)

[2019-08-08 19:56] #221 closed

[2019-08-08 19:57] derduher commented on #221
@ludovit-ubrezi I think I spotted the issue. I wasn't including node's typedef. Can you try again this time with master?

[2019-08-09 22:36] #159 closed

[2019-08-09 22:54] #117 closed

[2019-08-09 22:55] #99 closed

[2019-08-10 19:03] colinhemphill opened #224 "TypeScript type error for changefreq property"
There seems to be an issue with the enums for `changefreq` when using TypeScript. Using an example from the documentation:

[code]

I get the following error:

[code]

[2019-08-11 22:01] derduher commented on #224
Yeah, not sure how I should
document TS only stuff. Import EnumChangefreq  and assign EnumChangefreq.weekly.

[2019-08-11 22:01] #224 closed

[2019-08-15 08:50] elmarti opened #228 "GZipping files"
The documented method for GZipping files breaks my TS compiler and doesn't appear to work when looking at the code. Has this been replaced with `toGzip()`? I may PR with a documentation update in a few days, but i'm still getting to grips with the package.

[2019-08-15 11:41] elmarti commented on #228
Right, i appear to have misread the documentation, there is a `gzip` option on the `createSitemapIndex` documentation, which works perfectly, the point still stands about the lack of documentation, happy to create a PR unless i've missed anything?

[2019-08-15 16:17] derduher commented on #228
PR welcome. I've just done a docs overhaul so I probably missed it.

[2019-08-15 16:18] derduher commented on #228
Also feel free to drop any suggestions for improvement in here.

[2019-08-15 18:03] cekvenich opened #229 "pretty formating"
I think the sitemap XML generated used to be 'pretty' formatted. Now I just get a long string with no line spacing.

Do I have to use a XML beautifier?

[2019-08-15 18:48] derduher commented on #229
I didn't think anyone wanted pretty print. I can add an option to a future version.

[2019-08-17 03:56] #228 closed

[2019-08-17 03:56] #229 closed

[2019-08-17 03:57] derduher commented on #229
@cekvenich this is now in master. Call `smi.toString(true)` to get a pretty print form.

[2019-08-17 04:00] derduher commented on #228
@elmarti I've added some docs but still feel free to open a PR for improvements.

[2019-08-17 13:52] cekvenich commented on #229
Great. But I have to wait for you to release it to npm, I have much complexity in my app.

[2019-08-19 00:04] #154 closed

[2019-08-19 00:07] derduher commented on #154
Implemented. Feedback welcome.

[2019-08-19 00:07] derduher commented on #90
Implemented. Feedback welcome.

[2019-08-19 16:07] realityking opened #236 "Move CLI to its own package?"
It seems like the CLI and related functionality is adding more dependencies to sitemap. Many nom packages have gone ahead and split their CLI tools into a separate package to avoid adding unused dependencies to packages not using the CLI.

Would that be an option for sitemap.js?

[2019-08-19 17:09] derduher commented on #236
I've thought about that. It'd probably end up moving the lib to another package just to preserve the ease of `npx sitemap`. And probably setting up an org. But to be honest the deps. are still fairly minimal at this point. I don't think we've quite reached the tipping point.
[code]
@realityking is there some specific problem you are trying to avoid?

[2019-08-25 22:12] derduher commented on #118
This appears to have been solved in some future version

[2019-08-25 22:12] #118 closed

[2019-08-30 00:03] mooyoul commented on #221
Hello @derduher, This issue is still not resolved even you moved @types/node dependency from dev dependencies from dependencies. I think Typescript compiler choices project's @types/node dependency instead of reading package's own @type/node dependency.

You can reproduce this issue by installing sitemap with old @types/node dependency.

Since i'm using Sitemap package in AWS Lambda environment (N

[2019-08-31 21:48] derduher commented on #221
@mooyoul Since this only happens with typescript users on Node 8 AND we're a couple months from the end of LTS for Node 8, I'm probably not going to open a PR for this one myself. You are welcome to open one yourself though, I'm just not sure how to support multiple typescript declarations of node.

[2019-09-09 00:44] MarcGodard commented on #170
These examples no longer exist. Anywhere else?

[2019-09-09 02:07] derduher commented on #170
@MarcGodard https://github.com/ekalinin/sitemap.js#building-just-the-sitemap-index-file or right below it is the example that auto generates the sitemaps and index.

[2019-09-09 14:57] MarcGodard commented on #170
@derduher thanks, I did find that after. I was more looking for a way to do both and couldn't find it (a sitemap that has urls and other sitemaps). After I found what you mentioned, I changed my strategy and used what you mentioned and separated the other urls.

[2019-09-13 20:17] bdrtsky commented on #149
Unfortunately, I found out it doesn't work with `createSitemapIndex`

[2019-09-13 23:24] bdrtsky opened #245 "Disable CDATA not working for non url. How to disable CDATA?"
No matter what I try I ending up with

[code]

Is there any way to get rid of CDATA?

[2019-09-14 01:32] derduher commented on #245
@bdrtsky why do you want to? This field should generally be escaped to avoid encoding issues with characters that aren't allowed in xml.

[2019-09-14 11:41] bdrtsky commented on #245
@derduher I made a research, looked at least at 30 huge content-oriented websites. None of them are using CDATA. Also I found a few forum topics how Google have issues with parsing content with CDATA:

https://github.com/Yoast/wpseo-news/issues/218
https://support.google.com/googlenews/forum/AAAAKvAM41ILjLGbgU_tZw/?hl=en&gpf=%23!topic%2Fnews%2FLjLGbgU_tZw

Also I found that few CMS'es removes CDAT

[2019-09-14 20:25] derduher commented on #245
Thanks for bringing this to my attention. I will try to switch from cdata to escaping as the next feature after the one I'm working on.

[2019-09-17 15:26] patrickmartin0 opened #246 "[ BUG ] wrong lastmod W3C Datetime ISO8601 format"
**Description**
The supported datetime format for the lastmod tag ('2019-07-22T05:58:37.037Z') doesn't seem to actually be in ISO8601. Since the ISO8601 states:

      YYYY (eg 1997)
   Year and month:
      YYYY-MM (eg 1997-07)
   Complete date:
      YYYY-MM-DD (eg 1997-07-16)
   Complete date plus hours and minutes:
      YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00)
   Complete date plus hou

[2019-09-17 17:28] derduher commented on #246
@patrickmartin0 As documented in https://github.com/ekalinin/sitemap.js#sitemap-item-options we use the official w3c subset of ISO8601. Basically we take the date `(new Date('what you passed in')).toISOString()` This is a function of [javascript](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString). Although there are libraries out there that preserve

[2019-09-18 09:28] patrickmartin0 commented on #246
Ah okay now I get it! thanks for your help!

[2019-09-18 09:28] #246 closed

[2019-09-22 15:12] bdrtsky commented on #245
Hey. I found first real-world usage example on big website - https://www.buzzfeed.com/animals.xml

I guess the best option would be an option to enable/disable CDATA when needed.

[2019-09-22 20:48] derduher commented on #245
I'm planning on just escaping the xml to avoid having to support the option.

[2019-09-25 11:46] Azraelless commented on #245
I'm having the same issue.

[2019-10-07 02:59] derduher commented on #245
Just released this with v5, on master now, in npm shortly

[2019-10-07 02:59] #245 closed

[2019-10-07 03:03] derduher commented on #134
With the latest release sitemap now just focuses on transformation of data. So I don't think this is in scope of the project anymore. I do still welcome PRs if there is room for improvement on api interface design.

[2019-10-07 03:03] #134 closed

[2019-10-11 22:47] knoxcard2 opened #250 "[ BUG ] <Replace with bug title>"
[code]

[2019-10-11 22:52] derduher commented on #250
@knoxcard2 what's the bug? is the example in the readme broken?

[2019-10-13 05:55] #250 closed

[2019-10-21 13:02] Chocobozzz commented on #221
You have to add the sitemap `@types` in `typeRoots` if you defined it:

[code]

FYI I had this issue using node 10 typings (maybe `CompressCallback` was added in node 12?)

[2019-10-23 00:12] damusix opened #254 "[ BUG ] warning: failed to load external entity "./schema/all.xsd" S"
**Describe the bug**
Either a bug or bad error output for CLI tool

[code]

Also, docs: https://github.com/ekalinin/sitemap.js#cli
Do not match code: https://github.com/ekalinin/sitemap.js/blob/master/cli.ts#L12

**Expected behavior**
Better error output or a functional CLI tool. Proper documentation.

**Desktop (please complete the following information):**
sitemap v5.0.0
node 10
osx mojave 10.14

[2019-10-23 00:18] derduher commented on #254
good catch on validate vs verify in the docs. I'll look into why its not loading all.xsd
And yeah v5 was released around a week ago so some docs have mistakes. Thanks and feel free to call out anything else that is either wrong or confusing.

[2019-10-23 03:46] coldhurt opened #255 "I just want to use the date as the lastmod, I don't want to have time."
I just want to use the date as the lastmod, I don't want to have time,
but here is new Date().toISOString(), Is there any way for me to use only the date as lastmod?

[2019-10-23 03:53] derduher commented on #255
Sorry, no, there is no way to pass the date without it converting to a full ISO date. This is done to simplify the code.
Why do you wish to pass only the date? Perhaps there is a usecase I am missing?

[2019-10-23 03:57] coldhurt commented on #255
Just product demand, because our search engine baidu is like this :(

[2019-10-23 04:00] derduher commented on #255
Does baidu not accept or dislike full date + timestamp? I don't know too much about baidu.

[2019-10-23 04:02] #254 closed

[2019-10-23 04:11] coldhurt commented on #255
Its document shows only support date.

[2019-10-23 04:16] derduher commented on #255
Alright, I will look into supporting this. Any links to documentation would appreciated, especially if they have a validator tool.
Please let me know if there are any other issues you run into using the maps generated with Baidu.

[2019-10-23 06:12] coldhurt commented on #255
I found two official wikis, but only Chinese.
https://ziyuan.baidu.com/wiki/640
https://ziyuan.baidu.com/college/courseinfo?id=267&page=2#h2_article_title16
Sorry, i didn't find any validator tool.

[2019-10-23 16:51] derduher commented on #255
Thank you. This is helpful. It looks like the mobile tag, which I recently dropped as google dropped it, is still required by baidu. I will try to add back support for that as well.

[2019-10-25 15:51] barrysteyn opened #258 "Question: How to append URLs such that indexes get created"
This is a question.

I have a bunch of new URLs, needing to be indexed in a sitemap, that are added on a consistent basis. After 50,000 urls, a sitemap index is required. Is there a way I can add an URL whenever I get a new URL and create the resulting sitemap along with sitemap indexes. I could potentially be adding millions of URLs, and so I need an [online](https://en.wikipedia.org/wiki/Online_

[2019-10-25 17:45] derduher commented on #258
is there a convenient function that already does this for you? no. You can, however, probably create the functionality by putting a counter stream before the sitemap transform that changes destination sitemap filestream and appends to a sitemap index with the url of the new sitemap. It's somewhat complex which is why I haven't touched it yet.

[2019-10-25 19:27] barrysteyn commented on #258
Thanks for replying. Would you mind if I submitted a PR for this functionality (I am in desperate need of it). Perhaps we could spec it out together?

[2019-10-25 19:58] derduher commented on #258
Go for it! I'll try to chuck some of my thoughts in here this weekend. I'd suggest you check out createSitemapAndIndex source even though it doesn't do what you need just in case there is some special cases I can't think of off the top of my head.
As far as the stream needing to be open at all times, I'm not really sure as I'm somewhat new to streams I'm not sure what the pros/cons would be.
Feel

[2019-10-26 20:12] derduher commented on #258
Ok so here are my thoughts

# Goals
1. Be able to take an arbitrarily large number of urls and spit out corresponding sitemap + index
2. Be able to add to the sitemap incrementally, appending data to the existing list
3. Algorithm should perform well with upfront data as well as in small increments

## An approach to goal 1

Track number of urls received for current sitemap. When number exceeds th

[2019-10-26 21:37] barrysteyn commented on #258
Thanks for these goals.

In order to be able to incrementally add urls, a state needs to be stored somewhere to record the number of urls added so far (unless you know of a way to obtain the number of urls in the current index file without needing to store state). If you agree that we need to store state, I propose storing it in a file on disk. We run into a problem with synchronizing multiple pro

[2019-10-27 01:07] derduher commented on #258
It strikes me that in the process of reopening a file and finding the last url so that you can write after it, you would have passed all the urls for that file and can tally the total for that file on the fly rather than having to store it externally. You also only need to know the most recent sitemap file as presumably all before it will have been filled to their peak.

[2019-10-27 01:45] barrysteyn commented on #258
If I understand you correctly, one will iterate through the entire file to get the number of URLs added when adding an additional URL? If so, that will be extremely slow. The way I would think about it, when adding a new URL, one get's a file pointer, goes to the end of the file (which is quick), then walks back a certain fixed amount (because of the closing braces etc) and only then writes the UR

[2019-10-27 01:53] derduher commented on #258
Ah, I had not thought of walking back from the end, nice.

[2019-10-27 03:57] #236 closed

[2019-10-27 04:03] #255 closed

[2019-10-27 18:48] barrysteyn commented on #258
I am not the familiar with the sitemap format in general. I am wondering if you know if metadata representing the total number of sites in an index can be placed in the file? That would mean we would not need to store state separately? Also, I am going to design this online algorithm assuming that if someone wants to run it in a distributed system, then they will be responsible for infrastructure

[2019-10-28 22:57] derduher commented on #258
@barrysteyn It doesn't look like it can be placed in the index file https://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd has no field for it.

[2019-10-28 22:59] barrysteyn commented on #258
Yes, but I was thinking of an extra field to denote the number of sites? The rationale is that it would be ignored, however I think XML files have a strict schema. So then I was thinking that perhaps it could be a property in some tag?

[2019-10-28 23:11] derduher commented on #258
Here are some options:
1. Create your own xsd similar to how google extended it with theirs https://www.google.com/schemas/sitemap-image/1.1/sitemap-image.xsd
https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap-stream.ts#L12
https://github.com/ekalinin/sitemap.js/blob/master/schema/all.xsd#L5

2. Take the slower route and just parse in, print out the whole file in batches counting the u

[2019-10-28 23:17] barrysteyn commented on #258
Yes, that may be the simpler way to go. In that respect, perhaps it makes it worth while to batch URLs, so instead of just adding one URL at a time, you can add an array of urls instead.

[2019-10-28 23:27] derduher commented on #258
fwiw, there is a perf testing tool [here](https://github.com/ekalinin/sitemap.js/blob/master/tests/perf.js) if you want to modify it to your needs. It has around 20k of test data, but I'm sure you could swap that in with your own.
`npm run test:perf -- 3 3 stream memory`
`npm run test:perf -- 3 3 stream` <-- cpu

[2019-10-29 09:46] insekticid opened #261 "npx sitemap should generate sitemaps + sitemapindex based on prefix name and url limit"
If you feed sitemap cli command with huge url list, it should generate index file + sitemaps (each sitemap should have limit of urls based on parameter from cli (default 50000))

new cli args: --limit: 50000 --sitemap-prefix=sitemap- --sitemaps-path=

`echo "{url: 'https://example.com/page-1'}\n{url: 'https://example.com/page-2'}" | npx sitemap --limit=1 --sitemap-prefix=sitemap-example- --sitemap

[2019-10-29 19:41] bdrtsky opened #262 "createSitemapsAndIndex not on streams?"
I see huge changes, congrats. Streams everywhere!

But what about createSitemapsAndIndex? I have 20kk pages. ican't load them at once, since they don't even fit in my RAM. I was hoping to use streams to generate sitemaps and index.

[2019-10-29 21:13] derduher commented on #262
@bdrtsky Its being actively worked on by a contributor. Feel free to chime in #258. The short story is that it is the most difficult thing to do correctly so rather than hold up the rest of the code, it was carved off.
For what its worth though I think you'll be happy with memory consumption. As that went down from > 1gb to ~70mb for 20k urls

[2019-10-30 17:24] barrysteyn commented on #258
Hi, so just an update: I should have this completed by Sat 16 Nov. I have decided in terms of simplicity to not keep external state and take your suggestion by reading the entire file. With that in mind, my interface will allow us to batch these URLs (i.e. the input can take an array of URLs). For each URL in the array, it will do the following:

 1. If the URL is found in the current sitemap, the

[2019-10-30 20:25] derduher commented on #258
Hi, Yes both should be checked - sorry I've been meaning to mention that but keep getting distracted.
RE 1. as the url could have been in any of the previous sitemaps, is it even worthwhile to check?
RE accepting an array: it may not be necessary to explicitly take an array in, if you just suggest to users that batching their pushes on to the stream will result in better performance.

I appreciate

[2019-11-02 17:06] bdrtsky opened #264 "Error: Invalid character in string - how to sanitize data or gratefully fallback?"
I noticed, that if string contains data, like `Some str\u0010ing` then `sitemap` completely freaks out and throws an error

[code]

Tried to search a way how to sanitize the data (in xmlbuilder issues also) but have no luck.
Is there any recommendations what to do in such cases? Any dedicated libs? I can't sanitize only a `\u0010` since there could be dozens of other symbols.

[2019-11-02 17:50] bdrtsky commented on #258
This indeed doesn't seems an easy task.

I have over 15M urls, and had similar issue. Only .xml files size was over 5GB (more then actual DB size), not to mention it's generation was over half an hour. After I get couple unexpected breaks (like in this case https://github.com/ekalinin/sitemap.js/issues/264 ) I ended up with dynamic sitemap generation on the fly! Thanks to new implementation it's p

[2019-11-02 21:18] barrysteyn commented on #258
@bdrtsky Are you saying that you already have an implementation of what we are discussing here?

[2019-11-02 22:08] bdrtsky commented on #258
@barrysteyn not at all. I probably misread this thread, but I was simple referring to this feature https://github.com/ekalinin/sitemap.js#example-of-using-sitemapjs-with-express

It's already implemented. My point is when you have such use cases, like mine (15kk of urls) or, probably, yours, generating static XML files is probably not the best idea, since you: 1). polluting disk space with huge am

[2019-11-03 02:45] derduher commented on #264
@bdrtsky can you paste a small sample so I may debug? reading the spec from the comments in xml builder it /should/ accept most utf8/16 unicode

[2019-11-03 02:52] derduher commented on #264
It's possible bumping the xml version of the sitemap to 1.1 might help. If you wish to test for yourself you can reach into the source and tweak this line with 1.1. https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap-stream.ts#L12

[2019-11-21 17:14] barrysteyn commented on #258
Update: Sorry for the delay. I will try finish this on my thanksgiving break.

[2019-11-21 19:15] derduher commented on #258
No worries. Enjoy the Turkey! 🦃

[2019-11-29 05:00] derduher opened #267 "Ensure Invalid XML chars are filtered"
#99 #264
In the next major release XMLBuilder will be removed for performance, ensure utf8 chars are all valid

[2019-12-10 01:29] barrysteyn commented on #258
Hi @derduher

So I have an update. First, this is the plan (please can I get your nod):

- Check if sitemap index is present
     - **If not present**: Start creating *sitemap-0*, and then once finished, create the sitemap index and insert created sitemaps in it. In other words, do exactly what *createSitemapAndIndex* does
    - **If present**: Parse the sitemap index, extracting the last created

[2019-12-14 20:55] derduher commented on #258
Hi @barrysteyn sorry for the delay, crazy week. That sounds great! Go ahead.
Just for your information I will likely be releasing #253 with your changes. If when you open your PR you could open it against the `next` branch that would help facilitate the merge process.
This PR does contain some changes that may impact what you've done but we'll work that out later. It's all flexible for now.

[2019-12-14 21:00] barrysteyn commented on #258
Perfect. I want to first have the parsing of site map index going. That
should not take too long. Then you should release rather than wait for
everything else

On Sat, Dec 14, 2019 at 12:55 PM Patrick Weygand <notifications@github.com>
wrote:

--

Barry Steyn
Blog <http://doctrina.org> LinkedIn <http://ca.linkedin.com/in/barrysteyn>
GitHub <https://github.com/barrysteyn>

[2019-12-20 09:21] punitmirani30 opened #269 "Child_Process module not found"
**[ error ] ./node_modules/sitemap/dist/lib/xmllint.js**
Module not found: Can't resolve 'child_process'  in /node_modules/sitemap/dist/lib'

Using sitemap as library gives above error

[2019-12-20 09:29] punitmirani30 opened #270 "Sitemap - API deprecated, Can't this be still be available as one more method as library"
I am generating sitemap on the fly where getting list of urls and using sitemap deprecated api to create a sitemap and load it on the fly on url visit. Other options seems to be playaround with xml or physical sitemap file.

API usage is simple and easy case in usecase when sitemap is to be generated on the fly

[2019-12-20 09:38] punitmirani30 opened #271 "lastmodDateOnly can be this be available irrespective of baidu, open for all case"
Have a requirement where i need only date. So seems lastmodDateOnly can be helpful to everyone.

[2019-12-20 18:29] derduher commented on #271
There is nothing stopping you from using the option for non-baidu search engines. It tells search engines less precise info though.

[2019-12-20 18:35] derduher commented on #270
It is entirely replaced by newer methods, with examples you can see in the docs. The newer api methods also generate on the fly and at a smaller memory footprint. If you provide me some code of what you are trying to do in the deprecated API I can show you what that would be in the newer API.

[2019-12-20 18:35] derduher commented on #269
What version of node and the library are you using?

[2019-12-22 15:21] punitmirani30 commented on #269
Library version: 5.1.0
Node Version: 10.16.0

[2019-12-22 15:25] punitmirani30 commented on #270
Here's is the code
const { Sitemap } = require('sitemap');
const sm = new Sitemap({
    urls: [{ url: '/path1' },{ url: '/path2' },{ url: '/path3' },{ url: '/path4' },{ url: '/path5' },{ url: '/path6' }],
    hostname: 'http://example.com',
})

Passing the sm.toString() to response as below

 res.write(sm.toString());
 res.end();

Which renders the xml sitemap

[2019-12-22 15:29] punitmirani30 commented on #271
So when i use the API deprecated method like below
I want something like this

const { Sitemap } = require('sitemap')
const sm = new Sitemap({
    urls: [{ url: '/path', lastmod:'2019-12-22',changefreq:'daily',priority:1, }],
    hostname: 'http://example.com',
    lastmodDateOnly: true
})
sm.toString()

when i am passing only date as lastmod key, i am getting 2019-12-22T00:00:00 where i don;t tim

[2019-12-23 02:26] derduher commented on #269
How are you running the library? are you trying to use it in the browser?

[2019-12-23 02:29] derduher commented on #270
This code is the equivalent of that https://github.com/ekalinin/sitemap.js#example-of-using-sitemapjs-with-express
In the example it keeps the map in memory.

If you need to update it occasionally that is just a matter of busting the cache.

[2019-12-23 02:59] derduher commented on #271
This is the output I get when I run the above (line breaks inserted for readability)
[code]
Which appears correct. I'm not sure how you are getting different.

[2019-12-23 04:59] punitmirani30 commented on #269
Yes using it within browser.

[2019-12-23 05:04] punitmirani30 commented on #270
The method you suggested seems mapping single single url using
 smStream.write({ url: '/page-1/',  changefreq: 'daily', priority: 0.3 })
 smStream.write({ url: '/page-2/',  changefreq: 'monthly',  priority: 0.7 })

this method is fine but i am getting is list of urls from REST of (approx. 2000 urls this list can increase even more in future) and passing these set of urls array to API deprecated.

[2019-12-23 05:08] punitmirani30 commented on #271
I will send some screenshots for your reference some time later.

[2019-12-23 05:19] derduher commented on #269
@punitmirani30 child_process does not exist client side.
This library is not supported for use in the browser as that usecase does not make sense. When a search engine requests a sitemap it expects to get the already rendered xml in the response. This can be prerendered as a file stored to disk or generated at request-time serverside. It does not expect nor execute javascript/html if you send it t

[2019-12-23 05:25] punitmirani30 commented on #269
Okay so is there any way of using this library on client side ?? Or any suggestions from you.

[2019-12-23 05:33] derduher commented on #269
Sorry no. Client side does not make sense for sitemaps. The server must do this. There is no way to do a sitemap clientside.

[2019-12-23 05:35] derduher commented on #269
I would suggest you either set up an express server to generate this on request or have whoever handles the REST call do so.

[2019-12-23 05:39] derduher commented on #270
I am not exactly sure on which point you do not understand so I will try to explain. Apologies if I cover something you already know. See the comments in code.
[code]

[2019-12-23 06:09] punitmirani30 commented on #269
Okay. Thanks for the help.

[2019-12-23 06:12] punitmirani30 commented on #270
Okay will give a try on this. Will update.

[2019-12-23 18:25] #269 closed

[2019-12-26 13:34] bdrtsky opened #272 "Opt-out xmlns"
I don't think this is a good idea to give Google sitemaps with "news" xmlns, while it is not. I don't see any way to remove unnecessary xmlns. I saw old issue but this is not working now - https://github.com/ekalinin/sitemap.js/issues/149

[2019-12-27 07:24] derduher commented on #272
Hi @bdrtsky any particular reason you would like it to not be there?

[2019-12-27 08:06] derduher commented on #271
Closing this for now. Please reopen if you need further assistance.

[2019-12-27 08:06] #271 closed

[2019-12-27 16:21] bdrtsky commented on #272
@derduher right now Sitemap Submit is working awful in new Search Console. So many random errors (I found hundreds of topics on Google Webmasters Forum). So I am trying any potential solutions that can help in this situation. My logic is following.

News sitemaps has very strict requirements - https://support.google.com/news/publisher-center/answer/9606710

The only way for Google to distinguish b

[2019-12-27 19:26] derduher commented on #272
@bdrtsky That seems like a good enough reason. I'll add it to the queue.

[2020-01-03 23:44] derduher commented on #270
please reopen if there are further questions

[2020-01-03 23:44] #270 closed

[2020-01-05 00:40] derduher commented on #258
@barrysteyn I'd like to cut a release in the next week or two. Do you still think you are able to do this?

[2020-01-05 00:42] derduher commented on #272
@bdrtsky See #274 PR for implementation. Feel free to request tweaks. I'll try and cut a release in the next week or two.

[2020-01-05 00:44] #112 closed

[2020-01-06 19:23] barrysteyn commented on #258
Hi, I am working on it now. I will have the parsing of the sitemap-indexes done, then do what we spec'd for next release.

[2020-01-06 22:00] derduher commented on #258
Ok. Thanks!

[2020-01-09 07:32] bdrtsky commented on #272
Looks good! Appreciate your efforts 👍

[2020-01-11 23:52] barrysteyn commented on #258
I will try have things for you tomorrow evening...

[2020-02-10 04:10] arpowers opened #275 "[ BUG ] XSL"
Does this library have any way to add an XSL file? The sole documented option doesn't work.

[2020-02-10 19:40] derduher commented on #275
@arpowers It was removed in the previous release. Why do you want to style a sitemap xml file?

[2020-02-10 19:54] arpowers commented on #275
To make it more human-readable which is needed to review it for accuracy and optimization.

It's not something that needs to be specifically supported, but it would be trivial to add an option that allows arbitrary XML headers to be added, etc..

[2020-02-10 19:55] arpowers commented on #275
The issue on my end that brought me to this is here:
https://github.com/fiction-com/factor/issues/129

[2020-02-11 21:13] markjackson02 opened #276 "Compatibility with Next.js"
Should this package work with Next.js?

When I try to import sitemap.js package into my Next.js server-rendered page (sitemap.xml.js):

[code]

I get this error at compile time:
[code]

[2020-02-12 20:00] derduher commented on #276
I think Next is trying to build a browser version of this module which is not supported. Because the browser doesn't consume sitemaps crawlers do and they expect a xml file on request not js that builds a html representation of a xml file.

I do think I remember seeing an older version of this library included in a nextjs extension when browsing through folks that depend on this library. You might

[2020-02-12 21:24] derduher commented on #275
I'll take a look again at the code to see why I removed it. I may have simply underestimated its usage.

[2020-02-12 21:24] #276 closed

[2020-02-13 00:52] arpowers commented on #275
Thank you!
--
Founder @ Fiction.com

[2020-02-13 03:48] markjackson02 commented on #276
Thanks @derduher

I found this package https://www.npmjs.com/package/nextjs-sitemap-generator but it is designed to only run once when the server is initialized. I want it to be dynamic based on new dynamic routes that may have been created. I just rolled my own XML build based on this general logic https://gist.github.com/fredrikbergqvist/d2896af6563b38c3d880c0e135925ad1 which seems like a good a

[2020-02-15 02:13] gate3 opened #277 "<How to update existing sitemap>"
I can create a sitemap and can read the data from it. However, I need to be able to add to what I have read from a sitemap and save back to file. Here is what I have tried,

[code]
Nothing gets written back to file. Any help in making this work will be appreciated. Thanks

[2020-02-16 06:18] derduher commented on #277
Hi @gate3 try this example https://github.com/ekalinin/sitemap.js/blob/master/examples/append.js

[2020-02-21 04:05] #264 closed

[2020-02-21 04:05] #267 closed

[2020-02-21 04:05] #272 closed

[2020-02-21 04:05] #258 closed

[2020-02-21 04:05] #261 closed

[2020-02-21 04:05] #262 closed

[2020-02-21 04:10] derduher commented on #277
Please reopen if that example did not solve your issue.

[2020-02-21 04:10] #277 closed

[2020-02-21 11:23] RayLuxembourg opened #279 "[Feature] Sitemap management."
**Is your feature request related to a problem? Please describe.**
The current documentation does not explain how to maintain the sitemap.
An example is, the first time I generate the sitemap, I query 23k documents from MongoDB and each represents a page in my application. Those pages have been updated here and there and every time they do, I should be able to update the sitemap as well without to

[2020-02-21 21:43] derduher commented on #279
@RayLuxembourg for adding https://github.com/ekalinin/sitemap.js/blob/master/examples/append.js gives an example. You can replace process.stdin with a fscreateReadStream('./path/to/existingmap.xml'). call smStream.write() on each addition from the db.

As for updating, you may be able to use the same XMLToISitemapOptions (soon to be XMLToSitemapOptions) to parse the existing sitemap and write a Tr

[2020-02-23 07:42] derduher commented on #279
Append.js has been updated to have a more direct example of updating a sitemap with additions and updates. I realize this is perhaps more code than the average user unfamiliar with streams would want to write so I plan to create a wrapper at some point in the future.
In the meantime please reopen this issue if you have any questions.

[2020-02-23 07:42] #279 closed

[2020-03-01 05:07] arpowers commented on #275
Update on this?

[2020-03-09 06:09] derduher commented on #275
@arpowers sorry was holding off until the 6.0.0 release was fully out. Try `npm install --save ekalinin/sitemap.js#next` with `xslUrl: "https://example.com/style.xsl"`  as an option to either sitemapstream, sitemapindex or createsitemapandindex.

I'll throw together some docs and do a real release when I next get the chance if that looks good.

[2020-03-12 20:17] arpowers commented on #275
@derduher thanks for adding that,  you may want to consider just adding a vanilla XML headers option which may support more use cases.  Other than that, I'm happy as long as I can create a nice looking sitemap :P

[2020-03-15 21:32] jfoclpf opened #281 "[Feature] Save sitemap as sitemap.xml"
Can you give just a simple example of saving the sitemap to a file?
I sa the [examples directory](https://github.com/ekalinin/sitemap.js/tree/master/examples) and saw none. I must confess I found the examples provided on readme, regarding the stream, quite complex.

I tried this:
[code]
This approach though takes ages! I think I should pass the stream, right?

[2020-03-15 21:54] jfoclpf commented on #281
ok go it, you may close the issue :) but please consider to add this as example, cause the [stream example](https://www.npmjs.com/package/sitemap#stream-writing-a-sitemap) you have there is a bit messy, if I may say :)

[code]

All the best and thanks for the package

[2020-03-16 02:12] derduher commented on #281
@jfoclpf Thanks for the feedback. Can I ask were you trying to write to file for a single operation or for put together a script to be run on batch?

I'm thinking about re-organizing the docs around a couple use-cases.
- one time use -> push them to the cli
- on-going server updates
- library integration

Thanks again!

[2020-03-16 05:45] #281 closed

[2020-03-16 05:52] derduher commented on #275
published in 6.1.0

[2020-03-16 05:52] #275 closed

[2020-03-16 05:53] derduher commented on #281
Docs have been reorganized, your input is welcome.

[2020-03-16 08:41] jfoclpf commented on #281
Hi, thanks for the reply. It's for a single operation to be run when the server starts. I save all sitemaps into directory public/
I saw your example of express but I prefer to save them to files to save memory cause I have a huge list of sitemaps.

[2020-03-16 18:26] jfoclpf opened #283 "[ BUG ] TypeError: buildSitemapIndex is not a function"
**Describe the bug**
I copied-paste exactly [this piece of code](https://www.npmjs.com/package/sitemap#building-just-the-sitemap-index-file) taken from readme

[code]

**Expected behavior**
It should have allowed to generate some stream to save sitemap index to a file

**Context:**
 - Library Version, "sitemap": "6.0.0"

**Error**

[code]
I also tried with `new` but it's not either a constructor

[2020-03-16 18:33] jfoclpf commented on #283
got it again ;)

I used the other example: https://www.npmjs.com/package/sitemap#sitemapindexstream

[code]

As I said, that readme is a bit chaotic. You may close the issue :)
Anyway, thanks for the package

[2020-03-16 20:32] derduher commented on #283
I'll take another look at those examples and correct them. Thanks for opening bugs. It really helps me help others.

Any suggestions to make the docs I've recently updated less chaotic? (minus this one here as I haven't gotten to it yet.)

[2020-03-17 09:13] jfoclpf commented on #283
The docs are much better now, thanks. Just let me report you another
apparent bug. I'm with the phone now and I can't add code here, but I am
using that example of saving the sitemap to a file using the stream. With
some tests I have made with a sitemap with more than 400 urls, the file is
not fully saved, that is, only the first 300 urls are saved and the the tag
urlset is not closed at the end o

[2020-03-17 14:31] knoxcard2 opened #284 "[Feature]"
Need a full solid example on how to implment: `SitemapAndIndexStream`

[2020-03-17 18:34] derduher commented on #284
what do you need that isn't in this? https://github.com/ekalinin/sitemap.js#create-sitemap-and-index-files-from-one-large-list

[2020-03-17 18:35] derduher commented on #283
Sounds like it threw an error. Check stderr.

[2020-03-20 21:18] #284 closed

[2020-04-10 08:48] gdubs opened #285 "[ BUG ] createSitemap. getting a Module has no exported member"
**Describe the bug**
I have a lerna project with a sitemap package and when I build the project it would throw an error whenever I call createSitemap.

`Module '"../../../../node_modules/sitemap/dist"' has no exported member 'createSitemap'`

It would do the same with buildSitemapIndex as well

`Module '"../../../../node_modules/sitemap/dist"' has no exported member 'buildSitemapIndex'.`

I went i

[2020-04-10 19:10] thathurtabit opened #286 "[ BUG ] Missing </sitemapindex> tag when using createSitemapsAndIndex"
**Describe the bug**
Using `createSitemapsAndIndex` generates an `xml` file, but seems to be missing the closing `</sitemapindex>` tag, causing `xml` to be invalid.

**Expected behavior**
[code]
Should generate:
[code]
But instead generates the above, without the closing `</sitemapindex>`

**Context:**
 - Library Version `"sitemap": "^6.1.0",`

**Additional context**
Great work though!

[2020-04-10 22:49] derduher commented on #285
createSitemap and buildSitemapIndex were removed in 6.0. They were deprecated in 5.x. You'll want to see the examples for the more optimized streaming interface introduced in 5.x. Feel free to ask questions if the examples are unclear, inaccurate or do not fit your usecase. Closing.

[2020-04-10 22:49] #285 closed

[2020-04-11 16:21] ruiwei commented on #286
Chrome error: "error on line 1 at column 179: Extra content at the end of the document".
/lib/sitemap-index-stream.ts
Line 75: looks like this did not call

[2020-04-13 03:26] #286 closed

[2020-04-13 03:33] derduher commented on #286
This has been patched and released. Pleased be advised createSitemapsAndIndex is deprecated and will be removed in the next major version. I recommend moving to SitemapAndIndexStream https://github.com/ekalinin/sitemap.js/blob/master/api.md#sitemapandindexstream. Please feel free to open a ticket if documentation is not clear.

[2020-04-13 03:34] derduher commented on #283
Please reopen if you are still experiencing the additional issue you reported above. If possible include any error messages or the urls themselves.

[2020-04-13 03:34] #283 closed

[2020-04-14 08:52] wenbinobject opened #288 "Interface access to XML file presentation issues"
**Describe the bug**

  if (xhtml) {
    ns += ' xmlns:xhtml="http://www.w3.org/1999/xhtml"';
  }
 I had a format problem with browser access
![image](https://user-images.githubusercontent.com/21998076/79207029-be29bf80-7e72-11ea-948d-9098a4931ba7.png)

 If I  http modify https
  if (xhtml) {
    ns += ' xmlns:xhtml="https://www.w3.org/1999/xhtml"';
  }
Is no problem

![image](https://user-images.

[2020-04-14 17:52] derduher commented on #288
SitemapStream and SitemapIndexStream both have an undocumented option xslUrl that you can use to style your xml however you like. https://www.w3schools.com/xml/xsl_languages.asp

[2020-04-19 16:01] omar-dulaimi opened #289 "Is there a way to pass an array of urls to lineSeparatedURLsToSitemapOptions?"
I'm trying to create a multipart xml sitemap, the example in the docs shows that it has to be read from a txt file. However I don't have access to the filesystem where I want to do this.

Any idea?
thanks!

[2020-04-19 17:33] omar-dulaimi commented on #289
Nevermind, I found out how.

[2020-04-19 17:33] #289 closed

[2020-04-20 04:52] #288 closed

[2020-04-26 11:23] knoxcard2 opened #291 "XML Parsing Error: no root element found when using img array"
I am getting the following error when I add the img array attribute...

**XML Parsing Error: no root element found
Location: https://www.buycanna.io/sitemap-index.xml
Line Number 1, Column 373:**

[code]

[2020-04-26 11:35] knoxcard2 commented on #291
Looks like I solved this, needs to be `imgs`, not `img`.  The documentation README.md is incorrect.  Submitted pull request.

[2020-04-26 16:07] knoxcard2 commented on #291
This is definitely an issue.  Cannot include images into my sitemap.

[2020-04-26 18:47] knoxcard2 commented on #291
This has been resolved.  I had this code running inside a gulpfile and the code was exiting too early by calling `deferred.resolve()` right after
[code]
which does not have a callback

[code]

[2020-04-27 01:45] derduher commented on #291
createSitemapsAndIndex is an async function so it returns a promise. You can wait until that promise resolves. I would however recommend switching to SitemapAndIndexStream as createSitemapsAndIndex is deprecated and will be removed in the next major version.

[2020-04-29 06:56] #291 closed

[2020-04-30 10:35] bonesoul commented on #289
@omar-dulaimi same issue here, can you send your sample usage please?

[2020-05-10 16:54] AdityaAnand1 opened #294 "createSitemapsAndIndex deprecated <- What's the recommended way to auto generate a sitemap + index file in one go?"
Found this old version of the readme:
https://github.com/ekalinin/sitemap.js/tree/ed82abb182c717116be71f8323919c45233519d1#auto-creating-sitemap-and-index-files-from-one-large-list

The mentioned method `createSitemapsAndIndex()` seems to be deprecated now, I couldn't find any mention of a replacement.

What's the recommended way to create a sitemap index file along with gzipped sitemaps from one

[2020-05-10 16:58] AdityaAnand1 commented on #294
The deprecated method seems to work brilliantly by the way, I wonder why it was removed?

[code]

This is exactly what I wanted
![image](https://user-images.githubusercontent.com/13274079/81505516-69f8ea80-930d-11ea-80ac-d2ca2011577a.png)

But what does the future hold for `createSitemapsAndIndex()`? Why was it deprecated and what's the best alternative?

[2020-05-10 19:09] derduher commented on #294
@AdityaAnand1 The recommended replacement is here https://github.com/ekalinin/sitemap.js#create-sitemap-and-index-files-from-one-large-list. createSitemapsAndIndex was deprecated as it required you to provide all the URLs up front. The newer method allows a streaming OR all at once  of the URLs. Internally it was already using the streaming interface linked above.

[2020-05-11 02:13] tedshd opened #296 "[Feature] links tag not support Google sitemap format"
I find that use `links` generate format not support Google localized sitemap XML format

https://support.google.com/webmasters/answer/189077?hl=en

Sitemap for Google is `xhtml:link `

[2020-05-11 02:24] derduher commented on #296
They should be generating exactly what is shown in the link. `smis.write({url: 'https://example.com', img: [], video: [], links: [{url: "http://www.example.com/deutsch/page.html", "lang": "de"]})`

[2020-05-11 02:28] tedshd commented on #296
Get it.
Thank a lot.

[2020-05-11 02:28] #296 closed

[2020-05-12 08:55] s7dhansh opened #297 "TypeError: XMLToSitemapOptions is not a constructor"
The api docs say there should be a function `XMLToSitemapOptions`, but it's not there. I can not find it in the latest code as well.
Kindly check.

[2020-05-12 21:57] NathanHowell opened #298 "Stale files in published packages?"
It appears that some old files (from 5.x?) are being published in 6.1.3, see https://cdn.jsdelivr.net/npm/sitemap@6.1.3/dist/lib/sitemap.js

I don't see this file created if I build locally, and it references dependencies that are no longer used such as `xmlbuilder`:

[code]

[2020-05-12 21:58] derduher commented on #298
weird. I'll take a look after I get done with my day job.

[2020-05-12 22:03] NathanHowell commented on #298
👍 I was upgrading some code and ran into this. If I remove the references to the legacy modules everything seems to work fine, possibly just need to add a `git clean -xfd` type of action to the publishing script?

[2020-05-13 04:14] #294 closed

[2020-05-13 04:31] derduher opened #300 "make xmlNS casing consistent through repo"
in some places we refer to xmlNS some xmlns. It should be consistent.

[2020-05-13 04:33] derduher opened #301 "[Feature] Full fledged support for custom option in xmlns"
Not all options are passed down to sitemapStream see #295

[2020-05-13 04:34] derduher commented on #300
#299

[2020-05-13 04:54] #297 closed

[2020-05-13 04:54] #298 closed

[2020-05-15 16:04] justColbs commented on #289
@omar-dulaimi  I'm also looking for how you figured this out. Please share your solution. Thanks!

[2020-05-15 16:34] justColbs opened #304 "Is there a way to pass an array of objects to lineSeparatedURLsToSitemapOptions?"
I need to use the SitemapAndIndexStream index function you provided in the example. How can I just pass in an array of objects to be generated into XML instead of JSON in a txt file?

This is more for convenience so I could skip the step of converting all my objects to JSON and inserting in a txt file.

I hope i'm posting this in the correct place. Thanks!

[2020-05-20 11:47] fr1sk opened #305 "[ BUG ] Problem with tsc compiling when using sitemap package"
**Describe the bug**
I am using `sitemap` with Nest.js and when I try to compile using `tsc` I got those errors:
[code]
Any clue why is this happening? I just tried with the example provided in the readme file, nothing super fancy. Thanks in advance ✌🏻

**Expected behavior**
To compile without errors.

**Context:**
 - Library Version: 6.1.4
 - Node version: 12.13.0
 - Typescript version: 3.7.5

**

[2020-05-20 21:38] derduher commented on #305
@fr1sk could you either share a minimal reproducible sample or specify which example you are using? I have not been able to reproduce the issue.

[2020-05-20 21:45] derduher commented on #304
I'm assuming you are talking about [this example](https://github.com/ekalinin/sitemap.js#create-sitemap-and-index-files-from-one-large-list).
[code]
sms
.pipe(createGzip())
.pipe(createWriteStream(resolve('./sitemap-index.xml.gz')));
const arrayOfObjects = [ {...}, ...]
arrayOfObjects.forEach(item => sm.write(item))
[code]

[2020-05-21 19:21] juspky commented on #304
It would be helpful to add this to the readme, as I found myself wondering about that aswell.

[2020-05-21 19:44] derduher commented on #304
[It kind of does](https://github.com/ekalinin/sitemap.js/blob/master/README.md#generate-a-one-time-sitemap-from-a-list-of-urls) but I'll see what I can do to make that stand out a bit more.

[2020-05-21 19:55] #304 closed

[2020-05-22 01:24] justColbs commented on #304
That's it! Thank you. I would add that I had to change `sm.write(item)` to `sms.write(item)` and I had to call `sms.end()` once I wrote all my items in order to initiate the save (I assume that's the purpose).

[2020-05-23 10:42] Matiyeu commented on #127
👍

[2020-05-23 10:43] Matiyeu commented on #127
+1

[2020-05-26 14:38] fr1sk commented on #305
@derduher The problem was on my side, I had mismatched versions between `node`, and `@types/node`. After upgrading `@types/node` the error was gone. This has nothing to do with your library, so I will close the issue :)

[2020-05-26 14:38] #305 closed

[2020-05-26 16:45] fr1sk opened #307 "[ BUG ] Sitemap generation is so slow if I have large list of URLs (Problem in streamToPromise)"
**Describe the bug**
I have around 20000 URLs that should go to the sitemap. I am using an example from your readme, just without `createGzip`. Here is how it looks like:
[code]

When I have around 2000, 3000 URLs, it was working normally, but when I added more it was unacceptably slow. I started to investigate which part is causing the issue and realized that the problem is in `streamToPromise` f

[2020-05-26 21:09] derduher commented on #307
@fr1sk That's odd. I'll try to reproduce it using the performance tests in the repo. I'd be happy if you opened a PR. I'd also love to know what's causing the slowdown.

[2020-05-26 23:08] derduher commented on #307
oof yeah this is 1000x as slow on my machine.

[2020-05-26 23:52] #307 closed

[2020-05-26 23:53] derduher commented on #307
Ok I think I've got it fixed
========= streamToPromise =============
median: 943.0±46.4ms
99th percentile: 1056.5ms
median: 307.0±42.5mb
99th percentile: 307.0mb

========= stream =============
median: 789.0±43.6ms
99th percentile: 998.5ms
median: 79.0±2.0mb
99th percentile: 79.0mb

[2020-05-27 22:27] gokhancetiner opened #309 "How to pass options to lineSeparatedURLsToSitemapOptions method ?"
I mean I couldn't add changefreq, priority vs options to generated sitemap. Is there any way to add these options on sitemap that generated witj lineSeparatedURLsToSitemapOptions method ?

Many Thanks

[2020-05-28 00:26] derduher commented on #309
@gokhancetiner Here is [example file](https://github.com/ekalinin/sitemap.js/blob/master/tests/mocks/cli-urls.json.txt) input that allows you to pass in the options.
It will autodetect whether you are passing in JSON or just plain URLS

[2020-05-28 13:52] mininduhewawasam opened #310 "what is the correct format of json object to prepend list of URL's from a json file"
I tried it as below but it did not work

[
    {
        "url": "http://test.com/page-1/",
        "image": [
            {
            "url": "http://test.com/img1.jpg",
            "caption": "An image",
            "title": "The Title of Image One",
            "geoLocation": "London, United Kingdom",
            "license": "https://creativecommons.org/licenses/by/4.0/"
            }
        ],

[2020-05-28 19:46] derduher commented on #310
@mininduhewawasam  Here is example file input that allows you to pass in the options.
It will autodetect whether you are passing in JSON or just plain URLS.
Note each entry is on a single line.

[2020-05-28 20:04] derduher opened #311 "Document file formats"

[2020-05-29 06:58] mininduhewawasam commented on #310
@derduher Thanks a lot solved the problem

[2020-05-29 06:58] #310 closed

[2020-06-01 22:22] #309 closed

[2020-06-02 08:55] gokhancetiner commented on #309
I haven't tried yet but thank you for quick reply @derduher

[2020-06-07 17:05] ozkanonur opened #312 "[question] Maintain multiple sitemaps dynamicly"
I have a dynamic routes that depends to API response. My scenario is an example when I open example.com/example-slug on SSR part, when this slug responses 200 from API then I write it to sitemap. I have tried SitemapAndIndexStream, but it doesnt really work like expected. It resets index to 0 everytime when I route to a page. And instead of updating existing sitemap, it removes everything in it wi

[2020-06-09 19:31] derduher commented on #312
SitemapAndIndexStream really is intended to be run once. For dynamic updates on multiple sitemaps you will have to combine several approaches.
[Parse](https://github.com/ekalinin/sitemap.js/blob/master/api.md#XMLToSitemapItemStream) an existing sitemap, presumably the last non-filled one and then feed it back in to the sitemap generator with the addition of your new entries. [here] is an example f

[2020-06-09 21:12] ozkanonur commented on #312
I used packages called xml-js and glob to overcome this. The 'here' link is not linked properly so I cant see the example. If you wonder how I overcome on that, [here](https://github.com/feednext/feednext/blob/master/server/src/shared/Services/sitemap.manipulation.service.ts) is my solution that works crystal clear on production. @derduher

[2020-06-09 21:12] #312 closed

[2020-06-09 23:25] derduher commented on #312
Glad you were able to figure something out. I'll try and create an example for what you are describing in the future. Also I edited my broken link, sorry about that.

[2020-06-09 23:26] derduher opened #313 "[Feature] document an example for updating multiple sitemaps"
#312

[2020-06-20 22:18] hhimanshu opened #314 "Allow use of allow_embed in VideoItem API"
**Is your feature request related to a problem? Please describe.**
Currently [VideoItem API](https://github.com/ekalinin/sitemap.js/blob/master/api.md#videoitem) does not support `allow_embed` option in `player_loc`.

It is available in [Google Documentation](https://support.google.com/webmasters/answer/80471?hl=en). Search for `allow_embed` to find it

**Describe the solution you'd like**
Allow t

[2020-06-21 23:18] #314 closed

[2020-06-21 23:23] derduher commented on #314
Thanks for catching that. This has been implemented in 6.1.6

[2020-06-23 10:10] coolswood opened #316 "[question] How to create some sitemaps?"
I try to use example `sitemapAndIndexStream `. My code:
[code]

But I have an error `TypeError [ERR_INVALID_URL]: Invalid URL: /page-1/`

[2020-06-23 19:18] #316 closed

[2020-06-23 19:20] derduher commented on #316
@coolswood Thanks for pointing that out. I've updated the documentation to reflect that you should pass in a hostname to the sitemapStream on creation if you want it to resolve relative paths. Alternatively you can directly pass full URLs.

[2020-06-23 19:21] derduher commented on #316
[here's](https://github.com/ekalinin/sitemap.js/commit/d397a1546f2564d5d2031e1bb5d64b30d4b4eb0e#diff-04c6e90faac2675aa89e2176d2eec7d8L124) a direct link to what you need to change

[2020-06-24 07:12] coolswood commented on #316
Thank you, it works!

[2020-06-24 15:53] waleedarshad-vf opened #317 "[ BUG ] TypeError [ERR_INVALID_ARG_TYPE]"
Got this error while calling:     `streamToPromise(sms).then(buffer => console.log(buffer.toString()))`

TypeError [ERR_INVALID_ARG_TYPE]: The "list" argument must be one of type Array, Buffer, or Uint8Array. Received type undefined

[2020-06-24 15:54] waleedarshad-vf commented on #317
stack

[code]

[2020-06-26 19:00] derduher commented on #317
Hi @waleedarshad-vf, just giving you a heads-up that I will look into this this weekend. Not ignoring you, just busy hunting for a new job.

[2020-06-26 19:14] waleedarshad-vf commented on #317
Thanks

[2020-06-28 04:41] derduher commented on #317
@waleedarshad-vf I'm going to need more than a stacktrace to debug this. Please provide a minimal reproducible test case and the version of node you are on.

[2020-06-28 05:03] #301 closed

[2020-06-29 09:45] waleedarshad-vf commented on #317
@derduher
Node: v10.16.3

I just followed simple steps

[code]

[code]

[2020-07-01 04:31] derduher commented on #317
sms.end needs to be called after stream to promise. I suggest converting the await to a traditional promise. Otherwise you are closing the stream without having written anything out yet. It doesn't start pulling on the stream until streamToPromise is invoked as it has nowhere to write.

[code]

[2020-07-01 04:34] derduher commented on #317
I'm going to try to improve the error message for this case and the documentation around streams in general.

[2020-07-01 05:35] #317 closed

[2020-07-01 05:54] waleedarshad-vf commented on #317
Seems like in your testcase. you are closing before
I will follow your steps and let you know

  const smis = new SitemapItemStream();
    smis.write(testData);
    smis.end();
    expect((await streamToPromise(smis)).toString()).toBe(...

[2020-07-01 13:05] akashgohel opened #318 "SitemapStream is not a constructor"
I am using express with firebase function to generate dynamic sitemap.
But unfortunately got this error and return 500 error
![Screenshot from 2020-07-01 18-35-08](https://user-images.githubusercontent.com/50369580/86247115-a0ded480-bbc9-11ea-95a6-b28bcbad4198.png)
.
SitemapStream is not a constructor

[2020-07-01 19:23] derduher commented on #318
I'm not familiar with Firebase, can you provide the version of node they are using as well as some of the code? Base on the error you've given, it sounds like you aren't importing SitemapStream

[2020-07-01 19:27] derduher commented on #317
Curious. I'm not sure why that worked.

[2020-07-01 21:24] akashgohel commented on #318
Hi Patrick,
Thanks for your quick response.
The node version in firebase functions they are using is 10

Please review this code for more idea. I also imported SitemapStream

Below code is in my index.js file

/* eslint-disable no-return-assign */
/* eslint-disable eqeqeq */
/* eslint-disable one-var */
// Firebase functions

import * as functions from 'firebase-functions';

import redirectShortne

[2020-07-01 21:48] derduher commented on #318
Try swapping the require for an import? `import { SitemapStream, streamToPromise } from 'sitemap';`

[2020-07-01 21:52] derduher commented on #318
If that doesn't work, I'd suggest copying one of the examples and trying to get it running locally then gradually converting it to your example above to see where it breaks.

[2020-07-01 23:25] hhimanshu commented on #314
Thanks for the change!

[2020-07-02 05:52] akashgohel commented on #318
As per your suggestion, I have tried using import, but did not get any success.
For your second suggestion, I have cloned your repository and tried same code by creating a new file.
Please have a look.

// code file

const express = require('express');
const { SitemapStream, streamToPromise } = require('../dist/index');
const { createGzip } = require('zlib');

const app = express();
let sitemap;

[2020-07-02 05:56] derduher commented on #318
There is no style info by default. It's not really meant to be read by browsers. It looks like it works when you clone it then. I'm not sure how to help you get it running in firebase without a reproducible case. You'll have to try getting it to work in a simple case with firebase and progressively modify it.

[2020-07-02 05:58] akashgohel commented on #318
Thank You Patrick,
I will sure give it a try and let you know the progress.

[2020-07-02 06:55] akashgohel commented on #318
I have set up a new firebase function from start and run it locally.
It works as expected.
Also implemented this to my existing project and deployed to firebase.
But I think the problem is with firebase.
So I have post a support ticket to firebase.
Will update you if we get any response.

[2020-07-06 11:10] hrhitesh opened #319 "[ BUG ] <Why it's wraps the image title and caption with '<![CDATA['"
**Describe the bug**
I have an issue that when I want to add a title and caption to the image, it always wraps my image title and caption text with '<![CDATA['

**Expected behavior**
I don't want that '<![CDATA['.

**Context:**
 - Library Version [e.g. 1.13.0]

**Additional context**
Would be great if I can disable it by sending any flags or something else. Also right now my project is stable and

[2020-07-06 18:58] derduher commented on #319
The latest version does not wrap the text in CDATA. What version are you on?

[2020-07-06 20:39] derduher commented on #319
Also can you give me an idea of your usecase and what you find difficult about the newer interface? I will use this to improve / simplify things.

[2020-07-07 02:45] derduher commented on #318
@akashgohel closing for now. Feel free to reopen.

[2020-07-07 02:45] #318 closed

[2020-07-07 04:23] hrhitesh commented on #319
@derduher I'm using 1.13.0 version.

[2020-07-07 04:31] derduher commented on #319
It looks like that version hard-codes the CDATA https://github.com/ekalinin/sitemap.js/blob/1.13.0/lib/sitemap.js#L160. If upgrading is too scary, you can try forking removing the CDATA from the code and install from a github tag in npm eg hrhitesh/sitemap.js#custom-tag

[2020-07-07 04:35] hrhitesh commented on #319
@derduher Yeah, right. Thanks for that alternative.
BTW I have found that Version 5.0.0 is similar to 1.13.0 version which does have the same function name and functionality.

Thanks again

[2020-07-07 04:40] derduher commented on #319
From there you are only a couple steps from the latest. Feel free to ask questions or raise any concerns if/when you wish to update to the latest.
Closing since it seems you have resolved your issue. Feel free to reopen.

[2020-07-07 04:40] #319 closed

[2020-07-10 05:11] moonmeister opened #322 "[ BUG ] simpleSiteMapAndIndex error"
**Describe the bug**
[code]
All day everyday. Wondering if it's a windows bug

**Expected behavior**
I'd expect it to no fail and write the files to disk.

**Context:**
 - Library 6.0.2

**Additional context**
Node LTS 12

[2020-07-10 07:12] hrhitesh opened #323 "[ BUG ] <Upgrading the package version to 5.0.0 having issue of "allocation failure GC in old space requested">"
**Describe the bug**
I was using the old package version 1.13.0. After upgrading the version to 5.0.0 to resolve this [issue](https://github.com/ekalinin/sitemap.js/issues/319). But now I'm having an issue with memory with the same code that is perfectly running with version 1.13.0.
This is my error:
[code]

**Expected behavior**
I want to be run and execute with no failure and no memory issue.

*

[2020-07-10 07:24] derduher commented on #322
based off the error it looks like you are passing a directory that does not exist. based off the name I think you were trying to pass a file to the directory argument.

[2020-07-10 07:31] derduher commented on #323
I suspect this is an underlying dependency (XMLbuilder) that was removed in version 6. Part of the reason I switched the library to streams was it took up so much memory. v5 has streams, you can try switching to those or updating to v6. You can also try [this](https://stackoverflow.com/questions/46688918/nodejs-memory-allocation-failure) - though that really should only be done if the other two ar

[2020-07-10 07:39] derduher commented on #323
I also recently introduced a "simplifiedSitemapAndXML" function that should be easy to use on v6.2.0 See the the readme for details. (assuming you just want to write the files to disk)

[2020-07-10 08:33] hrhitesh commented on #323
Thanks for the quick response @derduher. I will check this and get back to you if it's resolved.

[2020-07-10 16:31] moonmeister commented on #322
This is outputting (based on the defaults) to a build directory, it could not exist at any given build. I would expect sitemap be creating the destination directory if it doesn't exist, since it's handling all other file related things.

[2020-07-11 02:28] derduher commented on #322
That makes sense. This particular wrapper is only a couple days old so there's bound to be usability bugs. I'll keep this open to change that behavior but once you changed the path did things work ok for you?

[2020-07-11 18:31] moonmeister commented on #322
Yeah, changing the path to an existing directory resolved the issue. Thanks for your work on this project, this simple function in particular is nice to have.  I will add, it would be nice to have an option to not gzip the sitemaps.

[2020-08-04 06:43] waleedarshad-vf opened #325 "[ BUG ] Unexpected token u in JSON at position 0"
**Describe the bug**
I am facing this issue and it happened sometimes not always. what can be the possible reasons. Most probably sitemap is returning undefined sometimes
**Expected behavior**
It should not give an undefined error

**Context:**
 - Library Version [e.g. 3.2.2]

**Additional context**

[code]

[code]

[code]

[code]

[2020-08-04 07:05] derduher commented on #325
Which underlying sitemap API are you using for sitemapInstance()?
Try throwing a try catch around other parts of generateSitemap
Try passing `level: throw` to whichever sitemap api you're using to make any data error more verbose

[2020-08-04 07:07] derduher commented on #325
Also if you aren't on 6.2, you should probably update - prior version had a race condition in trying to immediately read a written file.

[2020-08-04 07:20] waleedarshad-vf commented on #325
Thanks, @derduher for quick response I am using sitemap: "^6.1.6".  Let me update it to 6.2. I will add more logs to see if error is appearing agian

[2020-08-06 09:59] #323 closed

[2020-08-15 02:51] derduher commented on #325
re-open if you see this happen again

[2020-08-15 02:51] #325 closed

[2020-08-24 07:50] coolswood opened #327 "[ BUG ] <Incorrect division into files when the limit is exceeded>"
[code]
For example, I set a limit of 50,000 links, as stated in the documentation https://www.sitemaps.org/protocol.html And I do get divided into files by the number of links, but I have a lot of locales on my project and the map looks like this
[code]

So, after splitting the files, the weight of each file is more than 50 MB. It seems that when setting the limit, you also need to take into accou

[2020-08-24 07:54] derduher commented on #327
The limit is on top level URL objects. Not cumulative links. However it
would be nice to have a file size enforcer that split the files
automatically when it exceeds a threshold.

On Mon, Aug 24, 2020 at 12:50 AM coolswood <notifications@github.com> wrote:

[2020-09-06 06:45] #322 closed

[2020-09-17 03:20] pinkiebala opened #331 "[ BUG ] Type definition of dataSource param of simpleSitemapAndIndex is wrong"
**Describe the bug**
Currently, the type of dataSource param of simpleSitemapAndIndex has an option is `SitemapItemLoose`.
https://github.com/ekalinin/sitemap.js/blob/769f23d0e909f51b62a51bf32936c153143c1edd/lib/sitemap-simple.ts#L28

But the example in Readme can't work

[code]

**Expected behavior**
I believe the type should be `SitemapItemLoose[]`

**Context:**
 - Library Version 6.3.0

**Addit

[2020-09-20 23:18] MarcGodard opened #332 "How to update to newest version?"
I used to use the sitemap as middleware like this:

[code]

Where urls is the list, and this worked very well. Now I am updating the packages and can't figure out how to use the new methods in the same way. I don't want to build files to serve, as this is on a resetting container and the files will simply not exist when the container reboots, so I just want to serve the xml.

Which method do I use

[2020-09-20 23:38] derduher commented on #332
@MarcGodard its a slight tweak on this example https://github.com/ekalinin/sitemap.js#serve-a-sitemap-from-a-server-and-periodically-update-it, You use [Readable.from](https://nodejs.org/api/stream.html#stream_stream_readable_from_iterable_options) to turn your array into a stream, then pipe the options into the SitemapStream or SitemapIndexStream. Wrap the pipeline in streamToPromise and you'll h

[2020-09-20 23:47] #331 closed

[2020-09-20 23:51] derduher commented on #331
@pinkiebala Thanks for filing this. A patch has now been released. I wish there was such a thing as "type coverage" so I could add that as a thing to check for.

[2020-09-23 18:21] MarcGodard commented on #332
Awesome, thanks. Got it all working.

[2020-09-23 18:21] #332 closed

[2020-10-08 23:49] soso01 opened #334 "[question] simpleSitemapAndIndex gzip option"
When the simpleSitemapAndIndex gzip option is used,
sitemap-0.xml is added from the sitemapIndex.gz file,
but the actually created file is sitemap-0.xml.gz, so it cannot be referenced.

Is there anything else I need to set up

[2020-10-28 19:26] Lunatic174 opened #335 "[ BUG ] Concatenation of absolute paths in alternate links"
I'm trying to add links to alternate language page, which has different domain name.
According to google sitemap rules, it's legal.

Me code:
[code]

I'm expecting to get this:
[code]

But instead I've got this:
[code]

I temporarily fixed this by removing the `hostname` option and specifying absolute paths everywhere.
But i'm suppose that the correct behaviour is to check for absolute url.

**Con

[2020-11-01 03:32] #334 closed

[2020-11-01 03:35] derduher commented on #334
sorry for not looking into this until now. It's been a crazy year.

[2020-11-04 13:25] d6michalszorad opened #337 "[Feature] Option to disable debug info when parsing a sitemap"
**Is your feature request related to a problem? Please describe.**
Parsing a sitemap in some cases produces a lot of unnecessary logs. Eg. "unhandled attr ..." or "unhandled tag ...". It would be great if we had an option to disable the logs.

**Describe the solution you'd like**
Add an option `printLogs` with a default value `true` to keep compatibility for `XMLToSitemapItemStream`.

**Additional

[2020-11-24 23:11] gokhancetiner commented on #91
Hello @derduher ,

I have a huge list I am using SitemapAndIndexStream method in sitemapAndIndex.js example but I couldn't achieve how to put lastmod property inside sitemap-index.xml.gz. How can I make it ?

Best Regards,

[2020-11-24 23:29] derduher commented on #91
@gokhancetiner in the [getSitemapStream function](https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap-simple.ts#L54) provided to SitemapAndIndexStream, you can return an [indexItem](https://github.com/ekalinin/sitemap.js/blob/master/lib/types.ts#L311) instead of a string. This should write out the last mod date that you provide

[2020-11-25 09:27] gokhancetiner commented on #91
Many Thanks @derduher

[2020-12-10 00:20] samicodesit opened #338 "[question] Is it possible to create paginated sitemap indexes?"
The project I'm working on is a website that has **several** stores, and each store has multiple products

I want to create:

1. a basic  `/sitemap.xml` for static routes (about us, privacy policy, etc..)
2. sitemap index(es) to generate a sitemap for each store. The website contains a lot of stores, so here I need something like
`/sitemap_index.xml` then `/sitemap_index-2.xml` and so on
3. sitema

[2020-12-10 00:24] #338 closed

[2020-12-10 00:24] samicodesit commented on #338
wrong package sorry

[2020-12-22 09:13] codler opened #340 "[Feature] Support languages - hreflang"
https://developers.google.com/search/docs/advanced/crawling/localized-versions

[2020-12-23 01:47] derduher commented on #340
[hreflang is supported](https://github.com/ekalinin/sitemap.js/blob/master/api.md#sitemap-item-options), there is a bug where for now all links need to be absolute #335. Might be able to fix that over break. Also checkout #335 for an example on its use.

[2020-12-23 01:47] #340 closed

[2020-12-23 03:01] derduher commented on #335
@Lunatic174 After attempting to reproduce your example in tests and standalone scripts on node 10, 12, 14 I always got the correct result. The example you gave is pretty straightforward so I'm not sure what is going on. What version of node are you on? Under the hood the hostname is added via `new URL(url, hostname)` perhaps something is different with URL on your instance?

[2020-12-23 04:20] #337 closed

[2020-12-23 09:06] codler commented on #340
Thank you!

[2020-12-27 22:21] Vrq commented on #334
Is this a bug or what is the answer? @derduher

[2020-12-27 23:11] derduher commented on #334
@Vrq it was fixed in 6.3.3

[2020-12-28 08:28] Vrq commented on #334
Thanks! Haven't noticed it :)

[2021-01-15 11:22] Zae commented on #335
I'm having the same problem but with a subdomain I think.

When I use the hostname `https://example.com` and add `https://sub.example.com` in my sitemap I get the following url in the sitemap:

`https://example.com/sub.example.com`

I'm using node v10.23.0 (and nuxt-sitemap-module) but that uses this package to generate the actual sitemap :)

[2021-01-27 12:54] juanda99 opened #344 "Error linking sitemap urls using sitemap index"
I use example code from this repo:

[code]

When processed it creates this files _sitemap-index.xml.gz_ and several _sitemap-{number}.xml.gz_

However the content of sitemap-index.xml.gz is:

[code]

When  Google Search Console processes the sitemap it says format incorrect (HTML). I suspect it's because it can't find URL https://static.arasaac.org/sitemap/sitemap-{number}.xml  (missing gz extensi

[2021-02-10 01:42] qipoy opened #345 "[question] How to remove trailing slash for base root sitemap in sitemapStream?"
if I generated a sitemap URL everything is good, but my base URL always got a trailing slash.
can I remove that?

[2021-02-11 04:07] derduher commented on #345
Ultimately the baseurl you provide is fed into [URL](https://developer.mozilla.org/en-US/docs/Web/API/URL) along with your individual url path.
While I can see how you can feed in a base url such as `http://example.com/subpath` and `""` and still get out `"http://example.com/subpath"`
There is no way to feed in `http://example.com` and `""` and not have it append the slash. <-- This is true only f

[2021-02-11 04:14] derduher commented on #344
Hi @juanda99 sorry for the late reply. I have been a bit burnt out as of late. Looking closely at the example and your code, I believe you simply need to add .gz to your returned url ` new URL(path, 'https://static.arasaac.org/sitemap/').toString() + '.gz'` or earlier on when the path is defined, so long as you remove the '.gz' a couple lines below it.

the .gz was omitted from the path initially

[2021-02-16 19:46] saurabhd opened #347 "[ BUG ] Unhandled tag for "content_loc" in video sitemap"
**Describe the bug**
I tried to use sitemap@6.3.6 version and used a sample XML file which has video tag with appropriate namespaces attached in the XML. The script correctly parses the XML and produces the video entities information in JSON format except `content_loc`. As per my findings, the tag is not handled [here](https://github.com/ekalinin/sitemap.js/blob/master/lib/sitemap-parser.ts#L37) a

[2021-02-17 09:50] marcoreni opened #348 "[Feature] replace console logs with logger"
**Is your feature request related to a problem? Please describe.**
After #337, some references to console.warn are still in the codebase:
- https://github.com/ekalinin/sitemap.js/blob/965c4a77d9034d5e8aab8843aac76d8853a4a629/lib/utils.ts#L64
- https://github.com/ekalinin/sitemap.js/blob/965c4a77d9034d5e8aab8843aac76d8853a4a629/lib/utils.ts#L74

It should be useful to switch to a logger implementat

[2021-02-17 12:57] saurabhd commented on #347
@ekalinin @derduher - for your kind consideration, please. Thanks

[2021-02-17 20:16] derduher commented on #347
Looks like I missed implementing this feature. Thanks for finding this.
fixed in #350 6.4.0

[2021-02-17 20:16] #347 closed

[2021-02-17 20:19] derduher commented on #348
Thanks for your PR. I've merged and released it. It looks like validator's console.warn still needs to be handled. I'll take a look at that tomorrow.

[2021-02-17 20:19] #345 closed

[2021-02-17 20:19] #344 closed

[2021-02-17 20:21] derduher commented on #335
closing for lack of reproducible example

[2021-02-17 20:21] #335 closed

[2021-02-17 20:24] puz1ngg1 opened #351 "[question] Creating/overwriting sitemap file"
I need to be able to create/overwrite sitemap file. On my backend there is a GET /sitemap.xml endpoint which gives back a sitemap file with already dynamically created urls and I just need to request and read/write that file with response, so that every time someone or crawlers try to read sitemap file, it sends a request for endpoint and shows the response with already existing urls/lastmods etc.

[2021-03-18 06:23] JerroldLee opened #352 "[ BUG ] The dest file created by SitemapIndexStream not works on Google Search Console"
**Describe the bug**
The output content not the same as document by https://github.com/ekalinin/sitemap.js/blob/master/api.md#sitemapindexstream,
I got like
[code]

**Expected behavior**
Expect output to be like this
[code]

**Context:**
 - Library Version 6.4.0

[2021-03-25 11:57] Thayakaran commented on #296
still, I'm getting link tag, but google mentioned **xhtml:link**. what should I do?

[2021-03-25 12:25] Thayakaran opened #353 "[question] How can we encode local languages properly?"
when I pass a Tamil word in URL its shows as encoded characters, but the URL works on browsers. will it be an issue for crawlers to read?

Thank you.

[code]

[2021-03-30 07:43] arjit-webonise opened #354 "[question] How to add last modified date to all sitemaps within a sitemapIndex generated using sitemapAndIndexStream. ?"

[2021-03-30 08:04] arjit-webonise commented on #354
Closing this,
as it duplicated https://github.com/ekalinin/sitemap.js/issues/91

[2021-03-30 08:04] #354 closed

[2021-04-08 15:22] maximka777 opened #356 "Why don't SitemapIndexStream have lastmodDateOnly option?"
I see that `SitemapStream` has `lastmodDateOnly` option:
[code]
but `SitemapIndexStream` doesn't.

I think it would be nice to have the option in both. Correct me please if I'm wrong.

UPD: same about `hostname` option.

[2021-04-12 12:29] yoavaviram commented on #335
I'm having the same issue.

Code:
`    const smStream = new SitemapStream({ hostname: "https://yourdigitalrights.org/" })

    smStream.write({
      url: "/about",
      changefreq: "weekly",
      priority: 1,
      links: [
        { lang: 'es', url: 'https://es.yourdigitalrights.org/about' },
        { lang: 'it', url: 'https://it.yourdigitalrights.org/about' }
      ],
    });
`

Expecting:
`

[2021-04-12 18:18] derduher commented on #335
Thanks @yoavaviram I'll give it a shot tonight

[2021-04-13 10:16] yoavaviram commented on #335
Thanks!

[2021-04-15 13:04] coolswood opened #357 "[ BUG ] invalid examples for new SitemapAndIndexStream"
I get warnings from typescript that the current getSitemapStream contract is deprecated.
<img width="667" alt="Снимок экрана 2021-04-15 в 16 03 43" src="https://user-images.githubusercontent.com/25247802/114873662-30c1d800-9e04-11eb-8d11-e0964583d1ec.png">
In all the examples, two arguments in the array are returned, and the new contract requires 3.
<img width="685" alt="Снимок экрана 2021-04-15 в

[2021-04-16 15:53] emmurillo opened #358 "[question] Should urlset protocols use https instead of http ?"
This got implemented by https://github.com/ekalinin/sitemap.js/issues/164 , is there a reason is back to http again ?

[code]

helps modify specific protocols but not xmlns that remains http

[2021-04-16 18:12] derduher commented on #358
namespaces are identifiers, you should not change them to https. When google or other parsers are looking at it they expect http not https. They look like urls they are not urls.

[2021-04-16 18:12] #358 closed

[2021-05-01 01:36] moonmeister opened #359 "[ BUG ] Incorrect sitemap path in sitemap index"
**Describe the bug**
when using `simpleSitemapAndIndex` I noticed in the `sitemap-index.xml` the paths to the sub index paths don't cotain the subfolder (`destinationDir`) in the path.

[code]

**Expected behavior**
The location should contain the destination directory.

[code]

**Context:**
 - version: 6.3.0

[2021-05-01 17:02] moonmeister commented on #359
Affects https://github.com/gatsbyjs/gatsby/issues/31167

[2021-05-02 01:59] derduher commented on #335
Hi @yoavaviram This is what I get on node 14.5
[code]
[code]

[2021-05-02 02:02] derduher commented on #335
and in node 16.0.0

[2021-05-02 03:26] derduher commented on #359
@moonmeister I'll be releasing a version shortly that has support for a publicBaseUrl so you can specify a non-root base url for sitemaps.

[2021-05-02 03:49] #357 closed

[2021-05-02 03:49] #359 closed

[2021-05-02 03:53] derduher commented on #356
lastmodDateOnly is a pretty niche feature. It seems to only be required in specialized cases. You are welcome to open a PR to add support.

[2021-05-02 03:56] derduher commented on #353
Should be fine. URLs don't support non-ascii characters. when you enter non-ascii into your browser it will automatically translate that into something like what you see above. So the above is the output of that translation done on your behalf for crawlers sake.

[2021-05-02 03:56] #353 closed

[2021-05-02 03:57] derduher commented on #352
Cannot reproduce

[2021-05-02 03:57] #352 closed

[2021-05-02 04:00] derduher commented on #351
No, but maybe someone else will come along and generously provide you with some sample code for your use-case.

[2021-05-02 16:16] Amila-Rukshan opened #361 "[ BUG ] EmptySitemap: You ended the stream without writing anything."
**Describe the bug**
I got this error when starting my server which has sitemap as a dependency.

[code]

**Expected behavior**
Should not give any errors

**Context:**
 - Library Version - 7.0.0

[2021-05-02 17:49] moonmeister commented on #359
This doesn't appear to be fixed.

[2021-05-02 18:02] moonmeister commented on #359
Well...now I'm just confused. So you added `publicBasePath` but `destinatioDir` already existed to do this...or is destination dir suppose to be something different?

[2021-05-02 18:06] derduher commented on #359
Destination dir is the location on disk. Publicbasepath is the base URL for
site map files. The location you write the files to may coincidentally
share the same path.

On Sun, May 2, 2021 at 11:02 AM Alex Moon ***@***.***> wrote:

[2021-05-02 18:13] derduher commented on #361
Hi. The error message there describes what the issue is. I’m not sure what you are looking for here.

Sent from my iPad

[2021-05-02 18:13] moonmeister commented on #359
Okay, that makes sense now, maybe i missed some docs clarifying that but didn't realize that was the case.

[2021-05-03 09:15] yoavaviram commented on #335
hi @derduher , thanks for looking into this. Not sure why I was getting this issue but I moved on to use a different solution (alternate links on page rather then in the sitemaps), so it might have been some env problem on my side. If this works for others you can close this issue.

[2021-05-06 15:40] #361 closed

[2021-05-14 10:26] coolswood commented on #357
@derduher Still no change in the examples, it is not clear what the third WriteStream argument is

[2021-06-05 12:34] omar-dulaimi opened #362 "[ BUG ] generated sitemaps are truncated"
**Describe the bug**
Hello,

I noticed that generated sitemaps get truncated when they reach their destination(S3). For example, one of the files has 3.5MB of size, on S3 it's only 80KB. I tried to generate them locally, and I actually got them correctly.

**Expected behavior**
I expect that the full sizes of sitemaps get uploaded.

**Context:**
 - Library Version: v6.1.1

**Additional context**

[2021-06-08 09:22] coolswood opened #363 "[ BUG ] Obsolete examples in the documentation"
**Describe the bug**
The typescript specifies that getSitemapStream should return an array of three elements. But the documentation still has examples with two elements.

`
    return [new URL(path, 'https://example.com/subdir/').toString(), sitemapStream];
  }
`

**Context:**
 - Library Version 7.0.0

[2021-06-12 10:04] omar-dulaimi commented on #362
Any ideas @derduher

[2021-06-12 12:47] omar-dulaimi commented on #362
I did this as a workaround for now, until I get a better solution:
[code]

[2021-06-22 13:42] flowen opened #364 "[ BUG ] missing namespace when adding (locallized) linkItems"
**Describe the bug**
I'm using the [gatsby-plugin-sitemap](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sitemap) package and generate a sitemap with localized links.
The `<xhtml:link>` namespace is not recognized by the default namespace tag on `<urlset>`.
When doing so, the sitemap is not readable as XML and read as XHTML by the browser.

Also, see [this](https://stackove

[2021-07-01 22:12] praneeth34 opened #365 "[question] not able to generate sitemap-index.xml in production server run by nginix"
simpleSitemapAndIndex() works perfectly in local but when i try to run in production only sitemap-0.xml get generated that too, not able to read the fine, sitemap-index.xml is missing. Do i need to change any parameters when trying to run it with nginix

[2021-07-21 16:32] bohdan-shulha opened #366 "[Feature] Allow to merge streams with objectMode=true"
**Is your feature request related to a problem? Please describe.**
I'm having multiple Readers that inspect my database and produce urls for pages on my website. They all use `objectMode=true`  option. However, when I try to `mergeStreams` of that Readers I'm getting an error.

[code]

**Describe the solution you'd like**
Allow to pass options to `mergeStreams` so that one can specify `objectMode`

[2021-07-29 12:16] Floriferous commented on #296
We're having the same issue, google's docs are very specific about this, how can we get the exact same output?

https://developers.google.com/search/docs/advanced/crawling/localized-versions#example_2

[2021-08-14 12:40] boazpoolman opened #367 "[Feature] Allow relative path to XSL file"
The `xslUrl` option can only be a full URL.
I would like to add the XSL relative to the sitemap file. Like so:
[code]

Right now this value is validated with the `url` package like so:
[code]

I would suggest to remove this validation and make the xslUrl option a free text field.

Looking forward to your response! :)

[2021-08-14 12:53] boazpoolman commented on #367
Fix in #368

[2021-09-15 20:27] huntharo commented on #366
@bohdan-shulha - I've submitted #372 that implements the suggested change.  I'd like to say thanks for pointing me in the right direction on this.  I was trying to use `mergeStreams` two merge two input streams as you showed and it hadn't dawned on me that the problem was simply that objectMode could not be set on the `PassThrough` stream.  With your tip I was able to get this working for my own n

[2021-09-15 20:32] huntharo commented on #327
It looks like this issue is `implement a size limit`?

If so, I nearly have a PR for enforcing size limits, I need to write unit tests, modify the spillover logic in the simple sitemap class, and no-op the size calc when not enabled as it does have a slight performance impact due to the need to UTF-8 encode the strings to measure the size in bytes of an entire item before it is written to the map

[2021-09-16 09:55] bohdan-shulha commented on #366
Thanks @huntharo , I already copied them and adjusted for my needs. And I simply forgotten that I filed an issue for this :)

[2021-09-20 07:07] feedm3 commented on #358
I just run into the problem that Chrome doesn't render our Sitemap correctly anymore. Doing some research I ended up finding the error: If we use `xmlns:xhtml="http://www.w3.org/1999/xhtml"` the page rendering is broken.

<img width="2645" alt="Screenshot 2021-09-20 at 08 56 56" src="https://user-images.githubusercontent.com/7814926/133965872-f0a05474-1ab9-4dd5-b486-8f8c565a0b02.png">

When changi

[2021-09-29 23:29] geun commented on #127
+1

[2021-10-03 09:14] #366 closed

[2021-10-27 16:25] 123NeNaD opened #374 "Add option for removing trailing slash from the root page"
I'd like to be able to remove trailing slash from the root page.

Right now, when I pass `https://example.com` as URL, the sitemap will be generated with `https://example.com/`. This trailing slash can affect the SEO, so it would be nice to have a customization option that would allow us to remove trailing slash from root page.

[2021-10-27 16:43] #374 closed, assigned to nobody

[2021-11-09 21:20] fr1sk commented on #357
@derduher why is this one closed, in readme still no `WriteStream` argument 🤔

[2021-11-09 21:31] derduher commented on #357
@fr1sk It's been a bit so forgive me if I don't recall correctly. It looks like https://github.com/ekalinin/sitemap.js/blob/master/api.md#sitemapandindexstream has an example
[code]
Sitemap stream is where its reading from and writestream is where you want it to write to.
Basically its come to a point where it needs to swap the files its writing to because the current one has gotten too big. You n

[2021-11-23 05:35] Ahsan-Ullah1871 opened #377 "Generating dynamic/server-side sitemaps is not working after deploy in vercel"

[2021-11-23 05:57] #377 closed

[2021-11-24 10:45] HeyITGuyFixIt opened #378 "Exit Code on Failed Validation"
**Is your feature request related to a problem? Please describe.**
When usng the validate feature, if the xml is invalid, the error is caught and the error message is printed with console.log. This prevents my script from failing when the xml file I am generating is invalid.

**Describe the solution you'd like**
I would like for sitemap to return an exit code of 1 when the xml is invalid, instead

[2021-12-09 16:52] SimonGribert commented on #377
Is this regarding:
![image](https://user-images.githubusercontent.com/69861148/145440426-93d60c65-2140-4f8e-920b-ab92a307b37d.png)

And how did you solve it?

[2021-12-31 05:43] #356 closed

[2021-12-31 06:33] derduher commented on #367
looks like the fix was merged

[2021-12-31 06:33] #367 closed

[2021-12-31 06:42] derduher commented on #327
@huntharo that would be awesome

[2021-12-31 07:41] #363 closed

[2021-12-31 20:44] huntharo commented on #351
@derduher - I think maybe this should be closed?  Issue seems unclear and beyond the scope of the library itself?

[2021-12-31 22:47] huntharo commented on #327
@derduher - What are your thoughts on how to handle the overflow?

The most precise way to implement this is to set the byte limit to exactly 50 MB, then compute the size of an item when writing (done), and reject the write if that specific item would cause an overflow.  The desire would be to reject that write, catch that rejection, close the file without the item, open a new file, and write the

[2022-01-03 03:34] #351 closed

[2022-01-11 00:13] nikoyee opened #383 "[question] Am i using the `links` attribute correctly"
Am i using the `links` correctly ?

Resources i used to understand `links`
* https://github.com/ekalinin/sitemap.js/blob/master/api.md#ilinkitem
* https://github.com/ekalinin/sitemap.js/issues/335

Package version: 6.4.0
Node version: 12.22.4

[code]

The output looks like this when `links` is included
![image](https://user-images.githubusercontent.com/11545546/148858839-9724f028-1d80-46e7-8a66-b3

[2022-01-11 00:25] nikoyee commented on #383
Looks like it is correct when viewed from `element` inspect tab

![image](https://user-images.githubusercontent.com/11545546/148860114-6025d888-d01c-4a66-9705-a656dce68034.png)

[2022-01-11 00:25] #383 closed

[2022-01-11 13:51] tomcek112 opened #384 "[ BUG ] parseSitemapIndex not included in 7.1.0 release"
**Describe the bug**
The `parseSitemapIndex` method, as introduced in #370, is not included in the latest `7.1.0` release.

**Expected behaviour**
The method should be included & exported by the final bundle.

**Context:**
 - Library Version `7.1.0`

**Additional context**
Not sure if I'm understanding the release cycle of this library incorrectly but I can see the PR merged & the file on `master`

[2022-01-15 15:32] huntharo commented on #384
AHHH!!!!   Good catch, thanks!

[2022-01-18 04:37] #384 closed

[2022-01-18 07:46] #378 closed

[2022-01-18 07:47] derduher commented on #378
The fix for this is merged and will be released in the next couple of days.

[2022-01-18 07:48] derduher commented on #365
Please provide a failing example and reopen

[2022-01-18 07:48] #365 closed

[2022-01-18 14:46] jbaubree opened #387 "[question] Readable sitemap"
Hi, thanks for the work on this project.

I may did not understand something; this code works and generate me a sitemap file.

    const stream = new SitemapStream()
    const writeStream = createWriteStream(getPath)

    sitemapLinks.forEach(item => stream.write(item))
    stream.readable = true
    stream.pipe(writeStream)
    stream.end()

My problem now is that the sitemap.xml is on single lin

[2022-04-06 05:03] hasandogu opened #390 "[Feature] XSLT nonce"
**Is your feature request related to a problem? Please describe.**
XSLT style sheet is considered a script in CSP: https://csplite.com/csp/test176/

Content Security Policy: XSLT loading of stylesheets from an XML document is blocked in the script-src directive, CSP considers XSLT stylesheets a script.

If we choose to use script-dynamic, host-based allowlisting is disabled, so we have to use nonc

[2022-05-15 12:11] tianyingchun opened #392 "Process crash while `SitemapAndIndexStream` without any map item providered"
**Describe the bug**
Process crash while `SitemapAndIndexStream` without any map item providered

**Expected behavior**

work correctly , should not crash the program process.

**Context:**
"sitemap": "^7.1.1"

**Additional context**

[code]

[2022-05-15 12:12] tianyingchun commented on #392
should provider us catch `the error`, if we don't provider any sitemap item, it will directly crash the whole program process.

if we use express, the express server is down.

[2022-06-02 23:11] rafawashere opened #393 "TypeError item.priority.toFixed not a function"
**Describe the bug**
item.priority.ToFixed throwing a TypeError in /dist/lib/sitemap-item-stream.js

**Expected behavior**
The item.priority is type is unknown and is trying to add to a number type.

**Context:**
 - Library Version [e.g. 3.2.2]

**Additional context**
In my local version, I was able to resolve the issue by placing a primitive wrapper object.
item.priority.toFixed(1) => Number(item

[2022-06-10 08:00] jbaubree commented on #387
FYI, i'm using `xml-formatter` to get formatted sitemap file.
Example here: https://github.com/jbaubree/sitemap-ts/

[2022-06-10 08:00] #387 closed

[2022-07-13 10:01] haegemonia76 opened #394 "Allow creating empty sitemap"
Hello,
I'm currently creating a google news sitemap and currently I don't have any news posted on my website.

Is there any usecase that don't allow a sitemap to be empty ?

Is it possible to add an option to no throw an error if the stream has no data ?

https://github.com/ekalinin/sitemap.js/blob/815680cb45190d973b2b2aa8a816bce14cbf86ce/lib/sitemap-stream.ts#L161-L162

[2022-08-06 13:38] marnixhoh opened #396 "Add `hostname` option to `SitemapIndexStream` [Feature]"
**Describe the solution you'd like**
It would be great if `SitemapIndexStream` would also accept the `hostname` option, just as `SitemapStream` does.

I think this would make for a more consistent API.

If this is something the maintainers would think is a good addition, I would be more than happy to submit a PR.

Let me know! :)

[2022-08-14 02:39] rnicholls commented on #279
I have the same ask as OP @derduher but the https://github.com/ekalinin/sitemap.js/blob/master/examples/append.js gives me a 404.

[2022-08-14 15:57] rnicholls commented on #279
Nevermind. I see that update is the file that has the example now. Unfortunately it won't work with my use case. I have 100s of thousands of pages, so it doesn't look like it can split it across multiple sitemaps and then append.

[2022-08-17 21:29] martinsilha opened #397 "[ BUG ] Using 'links' option in an entry breaks sitemap generation"
**Describe the bug**
When adding the 'links' option to a sitemap entry that is already working, it is causing sitemap creation to fail validation.  From the 'Options you can pass' example:

[code]

**Expected behavior**
I expected the sitemap to add the `<xhtml:link xmlns:xhtml="http://www.w3.org/1999/xhtml" rel="alternate" hreflang="en" href="https://url.example" />` entry to the sitemap, which i

[2022-08-26 08:31] ideiasfrescas opened #398 "[Feature] Keep a record of the parent node"
**Is your feature request related to a problem? Please describe.**
We would like to create a visual hierarchical graph of the sitemap, but building it from the the sitemap.xml is complicated and requires another process, after the sitemap is complete.

**Describe the solution you'd like**
On [SitemapIndexOptions](https://github.com/ekalinin/sitemap.js/blob/master/api.md#sitemap-item-options) somek

[2022-09-09 05:13] duxor commented on #397
the same for me...

[2022-09-29 00:44] ghost opened #400 "[Feature] cdn for sitemap?"
**Is your feature request related to a problem? Please describe.**
I would like to help the sitemap.js framework with an interesting idea that I call "cdn-url", i.e. "sitemap content delivery network" or "sitemap delivery network". When you access a certain site and the url changes, many call this event a broken link, that is, when you access a certain content whose link has changed and how the li

[2022-10-03 13:31] daniel-minchev commented on #397
bump

[2022-10-04 04:25] migbash commented on #397
same for me

[2022-10-04 07:38] migbash commented on #397
@martinsilha can you show me your `sitemap` example ? And how does it fail ? Are you not seeing the proper layout in the browser when navigating to sitemap ?

[2022-11-08 07:30] thisfiore commented on #397
same here, if I add links I don't get xml anymore but just a string with link sequences without structure

[2022-11-15 04:56] Ryan2018-js opened #401 "add <mobile:mobile type="pc mobile"/>"
Some Search Engine such as Baidu (China) recommends to add an element:
<mobile:mobile type="pc mobile"/>

[2022-11-15 16:14] Routhinator opened #402 "[question] How do we render the streamToPromise buffer response for storage in a Cache?"
Hey there,

This library is a great help, to start with. I've had good success getting a great sitemap generated with it.

However the livestream is a little costly so I want to cache the response for one hour into Redis and return.

My caching mechanism is simple in that, with HTML pages, it stores the rendered HTML with a path key and returns it with the response.

I'm trying to get the same beh

[2022-11-17 15:38] Routhinator commented on #402
What is confusing about this to me is that this is being done exactly as the docs suggest in the readme.

[2022-11-17 21:58] Routhinator commented on #402
Gah, headers. I was missing headers.

The content was gzipped and for some reason I didn't think about this.

[2022-11-17 21:58] #402 closed

[2022-11-18 08:20] firstpersoncode opened #403 "Add option for removing trailing slash from the root page"
I'd like to be able to remove trailing slash from the root page.

Right now, when I pass https://example.com as URL, the sitemap will be generated with https://example.com/. This trailing slash can affect the SEO, so it would be nice to have a customization option that would allow us to remove trailing slash from root page.

[2022-11-21 23:36] #400 closed, assigned to nobody